@import "../../../theme/styles.module.css";


.container {
    display: flex;
    /*justify-content: space-between;*/
    gap: 32px;
    align-items: flex-start;
}

.button {
    outline: none;
    background: var(--background-1);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;

    font-family: Roboto;

    padding: 12px;
    cursor: pointer;
    transition: 150ms linear;
    border-radius: 0 5px 5px 0;
    border: none;
    border-left: var(--border-0) 2px solid;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    width: 8vw;
}

.button:hover {
    border-left: #0095ff 2px solid;
}


.buttons {
    display: grid;
    gap: 8px;
    justify-content: flex-start;
}
