.header {
    color: var(--mfc-color-secondary);
    font-size: 1.3rem;
    font-weight: 600;
    padding: 0 10%;

    background: var(--mfc-background-primary);

    /*display: grid;*/
    /*gap: 8px;*/
    /*height: fit-content;*/

    max-width: 30%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.typeLabel {
    color: var(--mfc-color-tertiary);
    font-size: .85rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;

}

.formWrapper {
    padding-top: 32px;
    overflow: auto;
}


.wrapper {

    height: 100%;
    max-height: 100%;

    display: grid;
    gap: 8px;
    align-content: stretch;
    grid-template-rows: min-content;
    width: 100%;
    padding: 8px 10%;
    overflow: hidden;
    box-sizing: border-box;
}

.tabWrapper {
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}


.pageWrapper {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    background: var(--mfc-background-primary);
    height: 100%;
    width: 100%;
    overflow: hidden;
    max-width: 100%;
}

.pageContent {

    display: flex;
    flex-flow: column;
    align-content: stretch;
    height: 100%;
    width: 100%;
    /*max-height: 100%;*/
    overflow: hidden;
    box-sizing: border-box;

    background: var(--mfc-background-secondary);

    border-radius: 5px 5px 0 0;
    border: var(--mfc-border-primary) 1px solid;

}

.iframe {
    width: 100%;
    height: 100%;
    padding: 0 10%;
}

.button {
    white-space: nowrap;
    overflow: hidden;
    max-width: 10vw;
    text-overflow: ellipsis;
}

.notificationModal {
    font-weight: bold;
    color: var(--mfc-color-secondary);
    display: grid;
    justify-items: center;
    gap: 32px;
    padding: 16px;
    background: var(--mfc-background-primary);
    border-radius: 5px;
    width: fit-content;
    height: fit-content;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}