.tabsContainer {
    display: inline-flex;
    justify-content: flex-start;
    align-items: stretch;

    position: relative;

    overflow: hidden;
    max-width: 100%;
    background: white;
    transition: 150ms linear;
    border-radius: 3px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}


.tabButtonContainer {
    cursor: pointer;

    font-family: Roboto !important;
    outline: none;

    transition: 300ms ease-in-out;
    padding: 8px 16px;
    box-shadow: none;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    color: #5f5f5f;
    width: fit-content;
    border-radius: 5px 5px 0 0;

    border: none;
    background: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: unset;
    animation: fadeIn ease-in-out 250ms forwards;
}

.tabButtonContainer:hover {
    color: #4f4f4f;
    background-color: #f4f5fa;
}

.container {
    display: grid;
    align-items: flex-start;
    gap: 32px;
    width: 100%;
}

.contentContainer {
    width: 100%;
    animation: fadeIn 500ms linear forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }

}

.scrollButton {
    position: sticky;
    z-index: 999;

    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    cursor: pointer;
    background-color: white;
    outline: none;
    border: none;
    color: #555555;
    align-self: stretch;
    border-radius: 5px 5px 0 0;
    transition: 150ms linear;
}
.scrollButton:hover{
    background-color: #E8F0FE;
    color: #0095ff;
}
.scrollButton:disabled{
    color: #999999;
    background-color: white;
    cursor: unset;
}