.container {
    display: flex;
    /*justify-content: space-between;*/
    gap: 32px;
    align-items: flex-start;
}

.button {
    outline: none;
    background: white;
    font-family: Roboto;

    padding: 16px 24px;
    cursor: pointer;
    transition: 150ms linear;
    border-radius: 5px;
    border: transparent 1px solid;
}

.button:hover {
    border: #e0e0e0 1px solid;
}


.buttons {
    display: grid;
    gap: 16px;
    justify-content: flex-start;
}
