.tableWrapper{
    max-width: 100%;

    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    /*border: #e0e0e0 1px solid;*/
    border-radius: 5px;

}
.container{
    max-width: 100%;
    padding: 32px;
    overflow: visible;

    display: grid;
    /*gap: 16px;*/
}