@media (orientation: landscape) {
    .auth_container{
        display: grid;
        grid-template-columns: 30vw 70vw;
        height: 100vh;
        width: 100vw;
        overflow: hidden;
    }
    .input_half_container{
        position: fixed;
        right: 0;
        height: 100vh;
        width: 70vw;

        display: grid;
        gap: 2vh;
        justify-content: center;
        border-bottom-left-radius: 8px;
        border-top-left-radius: 8px;
    }
    .forms_container{
        width: 32vw;
        display: grid;
        align-content: space-evenly;
    }
    .footer_container{
        border-top: #777777 2px solid;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: space-evenly;
    }
    .form_fields_container{
        display: grid;
        height: 40vh;
        align-content: space-between;
    }
    .art_half_container{
        grid-column: 1;
        display: grid;
        margin: auto;
        align-content: space-between;
        height: 100vh;
        row-gap: 2.5vh;

    }
}
