.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 4px;
    height: 35px;
    border-radius: 5px;
    overflow: hidden;
}

.button {
    border-radius: 5px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 4px 10px;
    gap: 8px;
    outline: none;
    border: none;
    color: #666666;
    background: transparent;
    cursor: pointer;
    transition: 150ms linear;
    font-size: .75rem;
    font-family: Roboto;
    font-weight: bold;
}

.button:hover {
    color: #333333;
    background: #f4f5fa;
}

.button:active {
    color: #0095ff;
    background: #E8F0FE;
}

.button:disabled {
    color: #999999;
    background: transparent;
    cursor: unset;
}

.label {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 75%;
}


.createButton {
    outline: none;
    border: none;
    background: #0095ff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    color: white;
    cursor: pointer;
    transition: 150ms linear;
    border-radius: 5px;
    padding: 4px 10px;
    height: 35px;
}

.createButton:hover {
    opacity: .9;
}

.createButton:active {
    opacity: .6;
}

.content {
    display: flex;
    align-items: center;
    gap: 4px;
}