.container {
    user-select: none;
    height: auto;
    min-height: 15px;

    width: fit-content;
    max-width: 300px;
    /*box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;*/
    opacity: 0;

    animation: show 250ms ease-in-out forwards;

    position: relative;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.content{
    padding: 4px 8px;
    border-radius: 5px;
    background: rgba(38,38,38,1);
    color: white;
    font-family: Roboto;
    font-size: .8rem;
    font-weight: bold;
    text-align: center;

}
.exitAnim{
    animation: exit 250ms ease-in-out;
    transform-origin: top left;
}

@keyframes exit {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}