.container {
    user-select: none;
    height: auto;
    min-height: 15px;

    width: fit-content;
    max-width: 300px;
    /*box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;*/
    opacity: 0;

    animation: show 250ms ease-in-out forwards;

    position: relative;
}
.arrow{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    border-bottom: 10px solid rgba(0,0,0,.85);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);


}
@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.content{
    padding: 4px 8px;
    border-radius: 5px;
    background: rgba(0,0,0,.85);
    color: white;
    font-family: Roboto;
    font-size: .8rem;
    font-weight: bold;
    text-align: center;

}
.exitAnim{
    animation: exit 250ms ease-in-out;
    transform-origin: top left;
}

@keyframes exit {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}