@import "../../../theme/styles.module.css";

.wrapper {
    height: 100%;
    width: clamp(250px, 25%, 500px);
    background: var(--background-1);
    margin-left: auto;
    border-radius: 8px 0 0 8px;
    box-shadow: var(--box-shadow-1) 0 0 2px 1px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 12px;
}

.header {
    font-family: Roboto;

    display: flex;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    font-size: 1.2rem;
    /*background-color: var(--background-1);*/
    /*border: var(--border-0) 1px solid;*/
    border-radius: 5px;


    font-weight: bold;
    color: var(--color-0);
}

.row {
    overflow: hidden;
    outline: none;
    background: var(--background-1);
    border-radius: 5px;
    border: var(--border-1) 1px solid;
    width: 100%;
    /*max-width: 100%;*/
    padding: 4px;
    height: 50px;
    color: var(--color-2);

    display: flex;
    align-items: center;
    cursor: pointer;

    transition: 150ms linear;
}

.row:hover {
    background: var(--background-2);
}

.row:active {
    background: var(--background-3);
    border-color: #0095ff;
}

.row:disabled {
    background: transparent;
    border-color: transparent;
}

.overflowEllipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
}

.rowColumn {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;

    gap: 4px;
}

.columnLabel {
    font-size: .75rem;
    color: var(--color-3);
}

.rows {
    position: relative;
    display: grid;
    align-content: flex-start;
    gap: 8px;
    overflow-y: auto;
    height: 100%;
    /*padding-top: 16px;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    width: 100%;
    /*gap: 4px;*/
}

.hoveredRow {
    background: var(--background-3);
    border-color: #0095ff;
    border-style: solid;
}

.dropTarget, .dropTarget:active {
    border-style: dashed;
    /*border-color: #0095ff;*/
    background: var(--background-2);
    cursor: unset;
}

.emptyRow {
    color: var(--color-4);
}

.divider {
    height: 1px;
    width: 100%;
    background: var(--border-1);
}

.headerButton {
    outline: none;
    background: transparent;
    border: var(--border-0) 1px solid;
    border-radius: 5px;
    padding: 4px 8px;

    display: flex;
    align-items: center;
    gap: 8px;

    color: var(--color-1);

    cursor: pointer;
    transition: 150ms linear;
}

.headerButton:hover {
    background: var(--background-2);
}

.headerButton:active {
    background: var(--background-3);
    transform: scale(.98);
    border-color: transparent;
    color: #0095ff;
}

.headerButton:disabled {
    cursor: unset;
    color: var(--color-4);
    background: transparent;
}

.headerButtons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}