.container{
    display: grid;
    gap: 8px;
    justify-content: flex-start;
    padding-bottom: 8px;
}

.title{
    font-size: 20px;
    font-weight: 500
}

.information{
    font-size: .9rem;
    color: #555555;
}