.contentWrapper{
    display: grid;
    align-content: flex-start;

    height: 100%;
    max-width: 100%;
    overflow-y: auto ;
    overflow-x: hidden;
    scroll-behavior: smooth;
    position: relative;
}


.header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 40;
    display: grid;
    gap: 10px;
    /*background: white;*/
}

.container {
    width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-rows: 165px calc(100% - 215px)  50px;

    border-radius: 5px;
    /*box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;*/

}

.rowContainer {
    padding: 0;
    border: none;
    background: transparent;

    width: 100%;
    height: 56px;

    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    outline: none;

    transition: 150ms linear;
}

.rowContainer:disabled {
    background-color: white;
}
.fadeIn {
    position: relative;
    opacity: 0;
    animation: fadeIn linear 200ms forwards;

}


@keyframes fadeIn {
    from {
        /*transform: translateY(100%);*/
        opacity: 0;
    }
    to {
        /*transform: translateY(0);*/
        opacity: 1;
    }

}


.titleContainer {
    font-size: 1.2rem;
    font-weight: bold;
    font-family: Roboto;
    color: #444444;
    margin-right: auto;

    align-items: center;
}


.context {
    background: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    overflow: hidden;
    border-radius: 8px;
    width: 250px;
    min-height: 40px;
    animation: popIn 250ms ease;

}

.exitAnimation {
    animation: popOut 250ms ease;
}

@keyframes popOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes popIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.contextButton {
    width: 100%;
    min-height: 40px;
    outline: none;
    background: transparent;
    transition: 150ms linear;
    border: none;
    font-family: Roboto;
    color: #666666;
    font-size: .85rem;
    cursor: pointer;

    display: flex;
    justify-items: flex-start;
    align-items: center;
    gap: 16px;
}

.contextButton:hover {
    background: #f4f5fa;
}

.contextButton:active {
    background: #E8F0FE;
    color: #0095ff;
}

.contextButton:disabled {
    background: transparent;
    color: #999999;
    cursor: unset;
}

.row {
    outline: none;
    background: transparent;
    border: none;
    cursor: pointer;
    height: 100%;
    display: flex;

    align-items: center;
    text-align: left;
    padding: 0;
    width: 100%;
    overflow: hidden;
}

.overflow {
    font-size: .85rem;
    color: #555555;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.labelContent {
    transition: 150ms linear;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
}

.label {
    width: 100%;
    outline: none;
    background: none;
    cursor: pointer;
    border: none;

    font-family: Roboto;
    font-size: .8rem;
    font-weight: bold;
    color: #666666;

    text-transform: capitalize;
    padding: 4px 16px;

    user-select: none;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.label:hover {
    color: #333333;
}

.label:active {
    color: #0095ff;
}

.label:disabled {
    color: #999999;
    cursor: unset;
    background: transparent;
}

.divider {
    height: 20px;
    width: 1px;
    background: #e0e0e0;

}

.labelsContainer {

    display: flex;
    padding: 4px 0;
    border-bottom: #ecedf2 1px solid;
    align-items: center;
}


.checkbox{
    background: transparent;
    border: #e0e0e0 1px solid;
}

.removeButton{
    outline: none;
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    color: #666666;
    cursor: pointer;
    transition: 150ms linear;

    width: 50px;
    height: 100%;

}

.removeButton:hover{
    color: #ff5555;
}
.removeButton:active{
    transform: scale(1.2);
}