
.options {
    display: grid;
    gap: 4px;
}

.helpContainer {
    width: 100%;
    border: #ecedf2 1px solid;
    border-radius: 5px;
    background: white;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 8px 8px 16px;
    color: #555555;
    transition: 150ms linear;
    font-family: Roboto;
    font-size: .8rem;
}


.container {
    background: #f4f5fa;


    display: grid;
    align-content: flex-start;
    align-self: stretch;

    gap: 8px;
    transition: 150ms linear;
}

.buttons {
    align-self: stretch;
    display: grid;

    align-items: flex-start;
    align-content: flex-start;
    background: white;
    border-radius: 8px;
    gap: 8px;
    width: 60px;

    padding-top: 8px;

    position: relative;
}


.button {
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 0;
    background: white;
    outline: none;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #555555;
    font-size: .8rem;
    transition: 150ms linear;
    position: sticky;
    top: 0;
    border-right: transparent 2px solid;
    border-left: transparent 2px solid;
}

.button:hover {
    background-color: #f4f5fa;
}

.button:disabled {
    color: #999999;
    background: white;
    cursor: unset;
}

.content {

    height: 100%;
    width: 300px;
    top: 0;
    border-radius: 10px;
    overflow: hidden;

    z-index: 888;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;

    background: white;
    animation: slideIn 300ms ease forwards;
}

@keyframes slideIn {
    from {
        width: 0;

    }
    to {
        width: 300px;
    }
}

.exitAnim {
    animation: slideOut 300ms ease forwards;
    /*z-index: 0;*/
}

@keyframes slideOut {
    from {
        width: 300px;

    }
    to {
        width: 0;
    }
}


.header {
    position: sticky;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1px;
    height: fit-content;
    font-size: 1.05rem;
    font-weight: bold;
    font-family: Roboto;
    color: #393C44;

    background-color: #f4f5fa;
    z-index: 999;
}

.extendButton{
    display: flex;
    align-items: center;
    justify-content: center;

    outline: none;
    color: #555555;

    border-radius: 8px;
    transition: 150ms linear;
    background: white;
    padding: 8px;
    cursor: pointer;
    border: #ecedf2 1px solid;
}