.shapes {
    display: inline-flex;
    flex-wrap: wrap;

    width: 100%;
    gap: 8px;
    padding: 8px;
    transition: 150ms linear;
}

.shapeContainer {
    background: none;
    cursor: grab;
    height: fit-content;
    width: calc(25% + 12px);
    border-radius: 8px;
    display: grid;
    justify-content: center;
    gap: 4px;
    padding: 8px;
    overflow: hidden;
    font-family: Roboto;
    font-size: .85rem;
    color: #555555;
    text-align: center;

    transition: background 150ms linear;
}
.shapeContainer:hover{
    background: #f4f5fa;
}
.circle {
    cursor: grab;
    border: #e0e0e0 1px solid;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background: transparent;
    color: #555555;
    transition: color 150ms linear, border 150ms linear;

    display: flex;
    justify-content: center;
    align-items: center;
}


.circle:hover, .rect:hover {
    border-color: #0095ff;
}


.optionsDivider {
    cursor: pointer;
    height: 40px;

    color: #555555;
    font-size: .8rem;
    font-family: Roboto;
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: space-between;
    padding:8px;
    transition: 150ms linear;
}


.divider {
    background: #ecedf2;
    height: 1px;
    width: 100%;
}


.linkType {
    border: #e0e0e0 1px solid;
    border-radius: 5px;
    width: 80px;
    height: 80px;

    color: #555555;
    transition: 150ms linear;
    cursor: pointer;
    font-size: .8rem;

    padding-left: 8px;
    padding-right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.linkType:hover {
    border-color: #0095ff;
}

.stepRounded {
    cursor: grab;
    border-radius: 5px;
    width: 80px;
    height: 30px;
    border: #e0e0e0 1px solid;
}

.stepRect {
    cursor: grab;
    width: 80px;
    height: 30px;
    border: #e0e0e0 1px solid;
}

.circle:active, .rect:active, .stepRect:active, .stepRounded:active {
    color: #0095ff;
    border-color: #0095ff;
    background: #fbfbfb;
    border-style: dashed;
    cursor: grabbing;
}


.elementsContainer {
    display: grid;
    gap: 16px;
    transition: 150ms linear;
    height: fit-content;
    border-radius: 8px;
}
.elementsContainer:hover{
    background: white;
    color: #0095ff;
}
.container {
    width: 100%;
    align-self: stretch;
    overflow-y: auto
}

.overflowEllipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.elementsOpen{
    background: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}