/FRONTEND/node_modules
/FRONTEND/.next
/FRONTEND/.swc

FRONTEND/node_modules
FRONTEND/.next
FRONTEND/.swc

/BACKEND/SAP/env.py
BACKEND/SAP/env.py

/BACKEND/GATEWAY/env.py
BACKEND/GATEWAY/env.py

/BACKEND/ESTRUTURAL/env.py
BACKEND/ESTRUTURAL/env.py

/.idea
.idea