# dependencies
/public/node_modules
/public/.pnp
/public/.pnp.js

# testing
/public/coverage

# next.js
/public/.next/
/public/out/

# production
/public/build

# misc
/public/.DS_Store
/public/*.pem

# debug
/public/npm-debug.log*
/public/yarn-debug.log*
/public/yarn-error.log*

# local env files
/public/.env.local
/public/.env.development.local
/public/.env.test.local
/public/.env.production.local

# vercel
/public/.vercel

#admin
# dependencies
/admin/node_modules
/admin/.pnp
/admin/.pnp.js

# testing
/admin/coverage

# next.js
/admin/.next/
/admin/out/

# production
/admin/build

# misc
/admin/.DS_Store
/admin/*.pem

# debug
/admin/npm-debug.log*
/admin/yarn-debug.log*
/admin/yarn-error.log*

# local env files
/admin/.env.local
/admin/.env.development.local
/admin/.env.test.local
/admin/.env.production.local

# vercel
/admin/.vercel


# dependencies
public/node_modules
public/.pnp
public/.pnp.js

# testing
public/coverage

# next.js
public/.next/
public/out/

# production
public/build

# misc
public/.DS_Store
public/*.pem

# debug
public/npm-debug.log*
public/yarn-debug.log*
public/yarn-error.log*

# local env files
public/.env.local
public/.env.development.local
public/.env.test.local
public/.env.production.local

# vercel
public/.vercel

#admin
# dependencies
admin/node_modules
admin/.pnp
admin/.pnp.js

# testing
admin/coverage

# next.js
admin/.next/
admin/out/

# production
admin/build

# misc
admin/.DS_Store
admin/*.pem

# debug
admin/npm-debug.log*
admin/yarn-debug.log*
admin/yarn-error.log*

# local env files
admin/.env.local
admin/.env.development.local
admin/.env.test.local
admin/.env.production.local

# vercel
admin/.vercel

/statistics/node_modules