.background {
    background: #f4f5fa radial-gradient(#0095ff 5%, transparent 0);
    background-size: 30px 30px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
