
.personas_container {
    transform: translateY(.9vw);
    display: inline-flex;
    flex-wrap: wrap;
    gap: .9vw;
    overflow: hidden;
    width: 45vw;
}

.cardContainer {
    overflow: hidden;
    width: 13.4vw;
    transition: 0.2s;
    animation-duration: .2s;
    animation-name: pop_in;
}
@keyframes pop_in {
    from {
        transform: scale(.2);
    }

    to {
        transform: scale(1);
    }
}
