
.personas_container {
    display: inline-flex;
    flex-wrap: wrap;
    gap: .9vw;
    width: 45vw;
}

.cardContainer {
    display: grid;
    justify-content: space-between;

    overflow: hidden;
    width: 22.05vw;
    height: calc(15vh + 1px);
    border: transparent 3px solid;
    transition: 0.3s;
    animation-duration: .2s;
    animation-name: pop_in;
}
.cardContainer:hover{
    border: #39adf6 3px solid;
}
@keyframes pop_in {
    from {
        transform: scale(.2);
    }

    to {
        transform: scale(1);
    }
}
.paper_container{
    width: calc(45vw + 2px);
    border-radius: 8px;
    transition: 0.2s;
}
