.header{
    height: 10vh;
    width: 100%;
    padding: 8px 16px;
    display: flex;
    align-items: center;

    background: var(--mfc-background-primary);
}
.headerLabels{
    display: grid;
    justify-content: flex-start;
    align-content: space-between;

    padding: 8px 0 8px 8px;
    font-weight: 600;
    font-size: 1.1rem;
    color: var(--mfc-color-secondary);
}
.secondaryLabel{
    font-weight: normal;
    font-size: .8rem;
    color: var(--mfc-color-quaternary);
}