@import '../../theme/styles.module.css';

.wrapper {
    position: relative;
}

.buttons {
    width: 200px;
    border-radius: 5px;
    background: var(--background-1);


    height: auto;
    box-shadow: var(--box-shadow-1) 0 0 2px 1px;
    z-index: 100;
    position: absolute;
    top: 100%;
    right: 0;

    overflow-y: auto;
    max-height: clamp(250px, 10vh, 300px);

    display: grid;
    gap: 0;
    /*animation: fadeIn 150ms linear forwards;*/
    /*opacity: 0;*/

    transition: 150ms ease;
}

/*@keyframes fadeIn {*/
/*    0%{*/
/*        opacity: 0;*/
/*    }*/
/*    100%{*/
/*        opacity: 1;*/
/*    }*/
/*}*/

.button {


    overflow: hidden;
    outline: none;
    border: none;
    padding: 12px 0 12px 8px;
    text-align: left;
    background: transparent;

    transition: 150ms linear;
    cursor: pointer;
    color: var(--color-1);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button:hover {
    background: var(--background-2);
}

.button:active {
    background: var(--background-3);
    color: #0095ff;
}

.button:disabled {
    cursor: unset;
    background: transparent;
    color: var(--color-3);
}

.buttonLabel {
    display: flex;
    padding: 0 10px;
    justify-content: flex-end;
    width: 100%;
}
