@import '../../theme/styles.module.css';

.modal {
    background-color: var(--background-1);

    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


    width: 25%;
    height: 75%;

    overflow-y: auto;

    padding: 16px;

    display: grid;
    gap: 8px;

    align-items: flex-start;
    align-content: flex-start;
}

.fieldRow {

    border-radius: 5px;
    border: var(--border-1) 1px dashed;
    padding: 8px;

    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;

    user-select: none;
}

.fieldLabel {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 600;
    color: var(--color-2);
    font-size: .9rem;

}

.visibilityButton {
    outline: none;
    border: none;
    background-color: transparent;

    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-2);
    cursor: pointer;
    padding: 0;
    width: 100px;
    border-radius: 5px;
    height: 40px;

    transition: 150ms linear;
}

.visibilityButton:active {
    background-color: var(--background-3);
    color: #0095ff;
}

.visibilityButton:hover {
    background-color: var(--background-2);
    color: var(--color-1);
}


.header {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--color-1);

    padding-bottom: 48px;
}