@import '../../../theme/styles.module.css';

.container{
    display: grid;
    height: fit-content;
    width: 100%;
    padding: 16px;

    font-size: 1.4rem;
    background-color: var(--background-1);
    border-radius: 5px;
    border: var(--border-0) 1px solid;

    font-weight: bold;
    color: var(--color-0);

}