.shapes {
    display: inline-flex;
    flex-wrap: wrap;

    width: 100%;
    gap: 36px;
    border-radius: 5px;
    padding: 26px;
    transition: 150ms linear;
}

.shapeContainer {
    background: none;
    cursor: grab;
    height: fit-content;
}

.circle {
    cursor: grab;
    border: #e0e0e0 1px solid;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background: transparent;
    color: #555555;
    transition: color 150ms linear, border 150ms linear;

    display: flex;
    justify-content: center;
    align-items: center;
}


.circle:hover, .rect:hover {
    border-color: #0095ff;
}


.optionsDivider {
    cursor: pointer;
    height: 40px;

    color: #333333;
    font-size: .8rem;
    font-family: Roboto;
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: space-between;
    padding: 4px 4px 4px 16px;
    transition: 150ms linear;
}

.optionsDivider:hover {
    background: #f4f5fa;
}

.divider {
    background: #ecedf2;
    height: 1px;
    width: 100%;
}


.linkType {
    border: #e0e0e0 1px solid;
    border-radius: 5px;
    width: 80px;
    height: 80px;

    color: #555555;
    transition: 150ms linear;
    cursor: pointer;
    font-size: .8rem;

    padding-left: 8px;
    padding-right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.linkType:hover {
    border-color: #0095ff;
}

.stepRounded {
    cursor: grab;
    border-radius: 5px;
    width: 80px;
    height: 30px;
    border: #e0e0e0 1px solid;
}

.stepRect {
    cursor: grab;
    width: 80px;
    height: 30px;
    border: #e0e0e0 1px solid;
}

.circle:active, .rect:active, .stepRect:active, .stepRounded:active {
    color: #0095ff;
    border-color: #0095ff;
    background: #fbfbfb;
    border-style: dashed;
    cursor: grabbing;
}

.header {
    position: sticky;
    top: 0;
    text-align: left;
    padding: 8px;
    height: fit-content;
    font-size: 1.1rem;
    font-weight: bold;
    font-family: Roboto;
    color: #393C44;
    border-bottom: #ecedf2 1px solid;
    background-color: white;
    z-index: 999;
}

.elementsContainer {
    display: grid;
    gap: 16px;
    transition: 150ms linear;
    height: fit-content;

    border-bottom: #ecedf2 1px solid;
}

.container {
    width: 100%;
    align-self: stretch;
    overflow-y: auto
}
