@import "../../../theme/styles.module.css";

.createModal{
    position: absolute;
    background: var(--background-1);
    border-radius: 8px;
    border: var(--border-0) 1px solid;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    max-height: 75vh;
}

.labelContainer {
    /*animation: slideUp linear 250ms both;*/
    transition: visibility 150ms linear;
    color: var(--color-0);
    font-size: .9rem;
    margin-top: auto;
    overflow: hidden;

    text-transform: capitalize;

}



.button {
    font-family: Roboto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    border: var(--border-0) 1px solid;

    box-shadow: unset;
    transition: 250ms linear;
    background: var(--background-1);
    width: 100%;
    outline: none;
    padding: 5px;
    font-size: 1rem;
    color: var(--color-1);
    cursor: pointer;
    height: 56px;
    border-radius: 5px;

    max-width: 100%;
    overflow: hidden;
}

.button:hover {
    border-color: #0095ff;
    box-shadow: 0 0 2px 1px #0095ff;
}

.button:active {

    color: var(--color-0);
    box-shadow: 0 0 2px 1px #0095ff;
    border-color: #0095ff;
    background: var(--background-3);
}

.button:disabled {
    cursor: unset;
    box-shadow: none;
    border: var(--border-1) 1px solid;
    background: var(--background-1);
}
.alertLabel {
    margin-left: auto;
    font-weight: 550;
    font-size: .8rem;
}


.inputContainer {

    border: none;
    box-shadow: unset;

    background: transparent;
    width: 100%;
    font-family: 'Roboto' !important;
    height: 44px;

    outline: none;
    padding: 5px 12px;
    font-size: 1rem;

}

.fieldsContainer {
    width: 100%;
    display: flex;
    align-items: center;
    height: 50px;
    border-radius: 8px;
    transition: 150ms linear;
    color: var(--color-1);
    background: var(--background-1);
    gap: 0;
    padding: 0 0 0 16px;
    border: #e0e0e0 1px solid;
    margin-bottom: 32px;
}

.fieldsContainer:hover {
    box-shadow: #0095ff 0px 0px 1px 1.5px;
}

.fieldsContainer:focus, .fieldsContainer:focus-within {
    color: black;
    box-shadow: #0095ff 0px 0px 1px 1.5px;
    background: var(--background-2);
}

.searchButtonContainer {
    padding: 0;
    outline: 0;
    height: 44px;
    width: fit-content;
    border: none;
    color: var(--color-1);
    border-radius: 8px;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;


    background: transparent;
    transition: 150ms linear;
}

.searchButtonContainer:hover {
    color: #0095ff;
}

.selectedEntityContainer {
    width: 100%;
    border: none;
    border-bottom: var(--border-0) 1px solid;
    border-top: var(--border-0) 1px solid;

    height: 56px;
    color: var(--color-0);
    font-size: .9rem;

    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px;
}

.removeButton {

    width: 28px;
    height: 28px;
    border-radius: 32px;

    outline: none;
    cursor: pointer;
    border: none;
    background: transparent;
    color: #ff5555;

    display: flex;
    align-items: center;
    justify-content: center;
}

.divider {
    height: 30px;
    width: 1px;
    background: var(--border-0);

}

.overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 90%;
}


@keyframes enter {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes exit {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}