.container{
    display: grid;
    gap: 16px;
    width: 100%;
    height: 100%;
    background: white;
}
.entityTitle{
    font-weight: bold;
    font-family: Roboto;
    font-size: 1.35rem;
    color: #393C44;

    display: grid;
    justify-content: flex-start;
    gap: 4px;
    background: white;
    padding: 4px 10% 12px;
    width: 100%;

    user-select: none;
}

.subTitleContainer{

    font-family: Roboto;
    font-size: .9rem;
    color: #777777;

    display: flex;
    align-items: center;
    gap: 4px;
}
.pageContainer {
    width: 100%;
    display: grid;
}

.header {

    display: inline-flex;
    gap: 4px;
    align-items: center;

    padding: 12px 10% 0;
    border-radius: 5px;


    width: 100%;
}

.info {
    display: flex;
    align-items: center;
    gap: 8px;

}
.homeButton{
    padding: 8px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: none;
    transition: 150ms linear;
}
.homeButton:hover{
    background-color: #f4f5fa;
    border: none;

}
.homeButton:active{
    background-color: #E8F0FE;
    color: #0095ff;

}
.headerButton {
    padding: 0;
    font-weight: bold;
    font-family: Roboto;
    font-size: .9rem;
    color: #777777;

    outline: none;
    border: none;
    border-bottom: transparent 1px solid;
    background: transparent;
    text-align: left;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.headerButton:hover {
    border-bottom: #e0e0e0 1px solid;
}
.headerButton:disabled {
    color: #555555;
    border-bottom: unset;
    cursor: unset;
}
.title{
    font-weight: bold;
    font-family: Roboto;
    font-size: .9rem;

    outline: none;
    border: none;
    color: #555555;
}


.buttonContainer {
    width: 100%;
    padding: 16px;
    border-radius: 8px;
    border: #e0e0e0 1px solid;
    background: white;
    outline: none;

    transition: 150ms linear;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    color: #555555;
    cursor: pointer;
    font-family: Roboto;
    font-size: .8rem;
}

.buttonContainer:hover {
    background: #f4f5fa;
}

.modalFrame {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalContainer {
    height: auto;
    width: 500px;
    align-content: flex-start;
    background: white;
    position: relative;

    border: #e0e0e0 1px solid;
    border-radius: 8px;

    padding: 16px;

    display: grid;
    gap: 8px;
}