.pageContainer{

    display: grid;
}
.header{
    display: flex;
    padding: 16px 7%;
}

.info{
    display: flex;

    gap: 8px;
}
.headerButton{
    font-size: 1.2rem;
    outline: none;
    border: none;
    border-bottom: transparent 1px solid;
    background: transparent;
    color: #555555;
    cursor: pointer;
}
.headerButton:hover{
    border-bottom: #e0e0e0 1px solid;
}
.content{
    width: 86%;
    margin: 16px auto auto;
}
.stageModal{
    height: clamp(500px, 75%, 1000px);
    width: 1000px;
    align-content: flex-start;
    background: white;
    position: relative;

    border: #e0e0e0 1px solid;
    border-radius: 8px;

    padding: 16px;
}