.pageContainer {

    display: grid;
}

.header {
    display: flex;
    padding: 16px 7%;
}

.info {
    display: flex;

    gap: 8px;
}

.headerButton {
    font-size: 1.2rem;
    outline: none;
    border: none;
    border-bottom: transparent 1px solid;
    background: transparent;
    color: #555555;
    cursor: pointer;
}

.headerButton:hover {
    border-bottom: #e0e0e0 1px solid;
}

.content {
    width: 86%;
    margin: 16px auto auto;
}

.stageModal {
    height: 100%;
    width: 65%;
    align-content: flex-start;
    background: white;
    position: relative;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    border-radius: 5px 0 0 5px;
    padding: 16px 32px;
}

.closeButton {
    color: #777777;

    background: transparent;
    position: absolute;
    top: 16px;
    right: 24px;
    /*right: 16px;*/
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.closeButton:hover {
    color: #ff5555;
}

.modal {
    z-index: 999;
    position: fixed;
    top: 56px;
    left: 0;
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
}