.title_container{
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: space-between;

    width: 50%;
}

.container{
    display: grid;
    justify-items: center;
    align-content: space-evenly;

    width: 83vw;
    height: 100vh;

    overflow: hidden;
}

.form_row{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;

    width: 100%;
    height: fit-content;

    margin-bottom: 2vh;
}

.form_rows_container{
    display: grid;
    justify-content: space-between;
}
.from_buttons_container{
    display: flex;
    justify-content: space-between;
    width: 85%;
}
.field_set{
    display: grid;
    justify-content: center;
    border-radius: 8px;
}
.page_container{
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
    width: 75vw;
}