
.form_row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45vw;
    margin-bottom: 2vh;
}

.form_component_container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 45vw;
    border-radius: 8px;
}
.form_container{
    display: grid;
    justify-items: center;
    width: 45vw;
}
.collaboration_container{
    width: fit-content;
    height: 7vh;
    border-radius: 8px;
    transition: .3s;
    display: flex;
    margin-right: 1.6vh;
    margin-bottom: 2vh;
    justify-content: space-between;
    align-items: center;
}
.collaboration_container:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.form_modal_container{
    margin-top: 12%;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    border-radius: 8px;
    height: 51vh;
}