.filterContainer {
    display: grid;
    justify-items: center;
    align-content: space-between;
    overflow: hidden;

    height: 100%;

}

.closeButtonModalContainer {
    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
    justify-content: flex-end;
    justify-items: flex-end;
}

.formSubmitContainer {
    width: 100%;
    background: white;
    position: sticky;
    bottom: 0;
    z-index: 10;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    height: 7vh;
}

.line {
    width: 100%;
    background: #ecedf2;
    height: 1px;
    margin-top: 8px;
    margin-bottom: 8px;
}




.rowContainer {
    font-family: 'Roboto' !important;
    background: #f4f5fa;
    border: #ecedf2 1px solid;

    transition: 300ms ease-in-out;

    width: 100%;
    height: 56px;

    padding: 8px;

    border-radius: 8px;

    display: flex;

    align-items: center;
    justify-content: flex-start;

    cursor: pointer;
    outline: none;
}

.rowContainer:hover {
    /*border-color: #0095ff;*/
    box-shadow: 0 0 4px 2px #0095ff;
}

.modalContainer {
    background: white;
    border-radius: 8px;
    width: clamp(500px, 75%, 1000px);
    height: fit-content;

    display: grid;

    grid-template-rows: calc(100% - 64px) 64px;

    overflow: hidden;

    position: relative;
    max-height: 80%;
}

.modalContainer > div {
    /*height: 100%;*/
    width: 100%;
}

.modalFooter {
    grid-row: 2;
    background: #f4f5fa;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    border-radius: 0 0 8px 8px;
    padding: 24px 32px 24px 32px;
    gap: 16px;
    border-top: #ecedf2 1px solid;

}

.modalContent {
    grid-row: 1;
    width: 100%;

    overflow: auto;
    padding: 32px clamp(32px, 10%, 64px);
}

