.unitContainer{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    gap: 4px;
}


.unitAcronymContainer{
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-weight: 600;
    color: #777777;
}
.unitNameContainer{
    font-size: .9rem;
}

.overflowEllipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}