
.stickyZone {
    display: none;
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 100;
    user-select: none;
    height: calc(100% - 32px);
    width: 400px;
    background: rgba(224, 224, 224, .5);
    border: #e0e0e0 4px solid;
    border-radius: 8px;
    transition: 150ms linear;
}

.stickyZone:hover, .stickyZone:focus {
    background: rgba(0, 149, 255, .5);
    border: #0095ff 4px solid;
}