.closeButton {
    position: absolute;

    cursor: pointer;
    border-radius: 50%;

    background: #ff5555;
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    animation: fadeIn 250ms ease-in-out forwards;
}
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.openNodeContainer {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    margin: auto;
    border-radius: 8px;
    transition: 300ms ease-in-out;
    position: relative;
}