@import '../../theme/styles.module.css';

.tableWrapper{
    max-width: 100%;

    overflow-y: auto;
    overflow-x: hidden;
    position: relative;

}
.container{
    max-width: 100%;
    padding: 32px 0;
    overflow: visible;

    display: grid;
    /*gap: 16px;*/
}
