.canvas{
    width: 100%;
    height: 100%;
}

.options {
    background: white;
    border: #e0e0e0 1px solid;
    border-radius: 8px;
    width: 180px;

    height: auto;

    position: absolute;

    margin: auto;
    right: calc(-50% - 180px);
    z-index: 100;
    overflow: hidden;
    animation: pop 250ms ease-in-out forwards;
    /*box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;*/
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}


@keyframes pop {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.optionButton {
    cursor: pointer;
    outline: none;
    border: none;
    border-bottom: #e0e0e0 1px solid;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 8px 16px;
    height: 40px;
    width: 100%;

    color: #555555;
    font-size: .9rem;
    transition: color 300ms ease, background 300ms ease;
}

.optionButton:hover {
    color: #0095ff;
    background: #E8F0FE;

}

.optionButton:disabled {
    color: #e0e0e0;
    background: white;
    cursor: unset;
}

.pulse {
    border-radius: 50%;

    cursor: pointer;
    border: #e0e0e0 1px solid;
    /*box-shadow: 0 0 5px 5px rgba(0 ,0 ,0, .1);*/
    animation: pulse 1.5s infinite;


}


@keyframes pulse {
    0% {

        box-shadow: 0 0 0 0 rgba(0, 149, 255, .4);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(0, 149, 255, 0);
    }
    100% {

        box-shadow: 0 0 0 0 rgba(0, 149, 255, 0);
    }
}

.indicatorContainer {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    top: 0;
    left: -14px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    position: absolute;

}

.placeHolder {
    background: white;
    border: #e0e0e0 1px solid;
    border-radius: 50%;
    position: absolute;
}

.limitContainer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    background: transparent;
    z-index: 0;
    height: 3px;
    border: transparent 2px dashed;
}

.entityContainer {
    position: absolute;

    border-radius: 0 5px 5px 0;
    border:none;

    display: flex;
    align-items: center;
    justify-content: center;
    background: #f4f5fa;
    z-index: 9;

    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    user-select: none;

    transition: box-shadow 250ms ease;

    cursor: move;
}

.lineContainer {
    width: 2px;
    background: #777777;
    position: absolute;
    box-sizing: content-box;
    color: #777777;


    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;

    /*transition: 150ms ease;*/
}

.lineContainer:hover {
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, .2);
}

.lineContentContainer {
    background: white;
    padding: 12px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 300ms ease;


}

.lineContentContainer:hover {
    color: #ff5555;
}

.lineOptionsContainer {
    background: white;
    border: #e0e0e0 1px solid;
    border-radius: 8px;
    width: 180px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;

    height: auto;
    margin: auto;
    position: absolute;

    z-index: 100;
    overflow: hidden;
    animation: pop 250ms ease-in-out forwards;
}

.nodeContent {
    padding: 8px;
    border-radius: 8px;
    display: grid;
    min-width: 110px;
    height: 75px;
    align-items: center;
}