.canvas {
    width: 100%;
    height: 100%;
}

.options {
    background: white;
    border-radius: 5px;
    width: 160px;

    height: auto;

    position: absolute;
    padding: 8px;
    right: calc(-50% - 180px);
    z-index: 100;
    overflow: hidden;
    animation: pop 250ms ease-in-out forwards;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    display: grid;
    gap: 4px;
}


@keyframes pop {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.optionButton {
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 8px;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2px;
    gap: 8px;
    height: 40px;
    width: 100%;

    color: #555555;
    font-size: .9rem;
    transition: color 300ms ease, background 300ms ease;
}

.optionButton:hover {
    color: #0095ff;
    background: #E8F0FE;

}

.optionButton:disabled {
    color: #e0e0e0;
    background: white;
    cursor: unset;
}

.indicatorContainer {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    top: 0;
    left: -14px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    position: absolute;

}

.lineContainer {
    width: 2px;
    background: #777777;
    position: absolute;
    box-sizing: content-box;
    color: #777777;


    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;

}
