

.content {
    height: 100%;
    width: 100%;
    /*display: flex;*/
    background: #f4f5fa;
    overflow: hidden;
    position: relative;
}

.canvasContainer {
    background: #fbfbfb radial-gradient(#e4e4e4 1.2px, transparent 0);
    background-size: 20px 20px;
    overflow: auto;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: calc(100% - 450px);
    cursor: grab;
}

.header {
    grid-row: 1;
    width: 100%;

    background: white;
    border-bottom: #E8F0EF 1px solid;
}
.group{
    cursor: move;
    display: flex;
    align-items: center;
    gap: 6px;
    border: rgba(0, 0, 0, .2) 2px dashed;
    padding: 6px;

    background-color: transparent;

    border-radius: 12px;

    position: absolute;
    z-index: 999;
}
.headerContent {
    padding-left: 32px;
    display: grid;
    justify-items: flex-start;
    align-content: center;
    gap: 16px;
    height: 100%;
}



.scaleContainer {
    position: fixed;
    bottom: 30px;
    left: 480px;
    z-index: 999;
}

.scaleButton {
    width: 30px;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: white;
    color: #555555;

    border: #e0e0e0 1px solid;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    cursor: pointer;

    transition: 150ms ease;
}

.scaleButton:hover {
    border: #0095ff 1px solid;
    background: #E8F0FE;
    color: #0095ff;
}

.scaleButton:active {
    box-shadow: none;
}

.scaleButton:disabled {
    box-shadow: none;
    color: #e0e0e0;
    border: #e0e0e0 1px solid;
    background: white;
    cursor: unset;
}

.placeHolderNode{
    display: flex;
    align-items: center;
    justify-content: center;
    border: #e0e0e0 2px solid;
    color: #777777;
    background: white;
    border-radius: 8px;

    height: 50px;
    width: 50px;
}