.input{
    outline: none;
    background: white;
    border-radius: 5px;
    height: 30px;
    width: 70px;
    border: #e0e0e0 2px solid;
    text-align: center;
    font-family: Roboto;
    color: #333333;
    font-size: .9rem;
}