.menuContainer {
    position: sticky;
    top: 0;

    width: 450px;

    height: 100%;
    background: white;
    border-right: #E8E8EF 1px solid;


    display: grid;
    gap: 16px;
    padding: 16px;
    justify-items: flex-start;
    align-content: flex-start;

}



.buttonContainer {
    width: 100%;
    border: #ecedf2 1px solid;
    border-radius: 5px;
    background: white;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    cursor: pointer;
    color: #555555;
    transition: 150ms linear;
    position: sticky;
    top: 0;
}

.buttonContainer:hover {
    color: #0095ff;
    background: #E8F0FE;
    border: #0095ff 1px solid;
}
.buttonContainer:disabled {
    color: #999999;
    background: white;
    border: #ecedf2 1px solid;
    cursor: unset;
}
.header{
    font-weight: bold;
    font-size: 20px;
    font-family: Roboto;
    color:#393C44;

}

.textField{
    font-family: Roboto;
    width: 100%;
    padding: 8px;
    background-color: white;
    outline: none;

    transition: 150ms ease;
    height: 50px;
    display: flex;
    align-items: center;
    border: none;

    font-size: .9rem;
}
.inputContainer{
    width: 100%;
    border: #ecedf2 1px solid;
    display: flex;
    align-items: center;

    border-radius: 5px;
    overflow: hidden;
    transition: 150ms ease;
}
.inputContainer:hover{
    border: #0095ff 1px solid;
}
.textField:focus, .textField:focus-within{
    background: #E8F0FE;
}
.searchButton{
    height: 50px;
    width: 50px;
    outline: none;
    border: none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #777777;
    cursor: pointer;
    transition: 150ms ease;
}

.searchButton:hover{
    color: #0095ff;
    background: #E8F0FE;
}

.tabsContainer{
    width: 100%;
}
.tabNavigation{
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: #e0e0e0 1px solid;
}

.tabButtonContainer{
    outline: none;
    background: transparent;
    width: 100%;
    padding: 8px 16px;
    border: none;
    border-radius: 5px 5px 0 0;
    font-size: .95rem;
    font-weight: bold;
    color: #666666;
    transition: 200ms linear;
}
.tabButtonContainer:hover{
    background: #E8F0FE;
}

.contentContainer{
    margin-top: 16px;
    width: 100%;
}
.options{
    display: grid;
    gap: 4px;
}