.buttonMenu{
    width: 30px;
    height: 30px;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: -38px 0 0 calc(50% - 15px);
    border: none;
    background: #0095ff;
    color: white;
    border-radius: 50%;
    cursor: pointer;

}

.selectedHighlight{
    transition: 250ms ease;
    position: absolute;
    top: -12px;
    left: -12px;
}

.closeButtonMenu{
    width: 30px;
    height: 30px;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: -38px 0 0 100%;
    border: none;
    background: #ff5555;
    color: white;
    border-radius: 50%;
    cursor: pointer;


}

.indicator{
    position: absolute;
    background: white;

    border-radius: 50%;

    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    border:#ecedf2 1px solid;
    color: #777777;

    transition: 150ms ease;

    animation: popIn 250ms ease;

    cursor: pointer;
}
@keyframes popIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.indicator:hover{
    color: #0095ff;
    transform: scale(1.15);
}