.lineContent{
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    width: 75px;
    height: 40px;
    border-radius: 5px;
    padding: 5px;
    font-size: .85rem;
    color: #555555;

    outline: none;
    box-shadow: none;
    transition: background-color 150ms ease;
}
.lineContent:hover{
    background-color: #E8F0FE;
}