.entityContainer {
    animation: popIn 1s linear;
}

@keyframes popIn {
    0% {
        opacity: 0;

    }
    100% {
        opacity: 1;
    }
}


.circleContainer {
    display: flex;
    align-items: center;
    height: 90px;
    width: 90px;
    padding: 4px;
    border-radius: 50%;
    justify-content: center;
}

.pulse {
    border-radius: 0 5px 5px 0;
    animation: pulse 1s infinite;
}


@keyframes pulse {
    0% {

        box-shadow: 0 0 0 0 rgba(0, 149, 255, .7);
    }
    70% {
        box-shadow: 0 0 0 15px rgba(0, 149, 255, 0);
    }
    100% {

        box-shadow: 0 0 0 0 rgba(0, 149, 255, 0);
    }
}


.nodeContent {
    padding: 8px;
    border-radius: 8px;
    display: grid;
    justify-content: flex-start;
    gap: 16px;

}

.header {
    color: #253134;
    font-family: Roboto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: bold;
    width: 100%;
    border-bottom: #e0e0e0 1px solid;
    padding-bottom: 4px;
    height: 50%;
}


.headerCircle {

    color: #253134;
    font-family: Roboto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: bold;
    max-width: 200px;
    letter-spacing: .9px;
}

.body {

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #808292;
    font-family: Roboto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: .9rem;
    width: 100%;
    height: 50%;
    padding-top: 4px;

}

.nodeShapeContainer{
    background: transparent;
    width: 100%;
    height: 100%;
    padding: 8px;
    user-select: none;
}

.connectionPoint:hover{
    transform: scale(2);
}

.indicator{
    fill: #e0e0e0;
    stroke: none;
    transition: 150ms linear;
    animation: popIn 256ms ease;
}
.indicator:hover{
    fill: #0095ff;
}