.container {
    background: white;
    position: absolute;
    overflow-x: hidden;
    width: 500px;
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-left: #E8F0EF 1px solid;
    z-index: 90;
    padding: 64px 16px 16px;

    animation: fadeIn 300ms ease;

    border-radius: 8px;
    overflow-y: auto;
    display: block;
    user-select: none;

}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.header {
    width: 100%;
    display: grid;
    gap: 8px;
}


.footer {
    border-top: #e0e0e0 1px solid;
    display: grid;
    justify-content: flex-start;
    padding: 16px;
    gap: 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: white;
}


.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    outline: none;
    background: white;
    color: #777777;
    border-radius: 50%;
    border: none;

    cursor: pointer;
    width: 35px;
    height: 35px;
    transition: 150ms linear;
}

.buttonContainer:hover {
    color: #0095ff;
    background: #E8F0FE;
}


.saveButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    outline: none;
    background: #0095ff;
    color: white;
    border-radius: 5px;
    border: none;

    cursor: pointer;

    height: 35px;
    margin-top: 16px;
    transition: 150ms linear;
}

.saveButton:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.saveButton:active {
    box-shadow: none;
}

.saveButton:disabled {
    cursor: unset;
    color: #999999;
    background: white;
    box-shadow: none;
    border: #ecedf2 1px solid;
}

.dragHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 8px;
    background: #f4f5fa;
    border-radius: 8px 8px 0 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    cursor: move;
    color: #555555;
    transition: 150ms linear;
}
.dragHeader:active{
    color: #0095ff;
}
.closeButtonContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    outline: none;
    background: transparent;
    color: #777777;

    border: none;
    cursor: pointer;
    transition: 150ms linear;
}

.closeButtonContainer:hover {
    color: #ff5555
}

.input {
    font-family: Roboto;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: #ecedf2 1px solid;
    border-radius: 5px 5px 0 0;
    transition: 150ms linear;
    padding: 8px 4px;
    resize: vertical;
}

.input:hover {
    border-bottom: #0095ff 1px solid;
}

.input:focus-within, .input:focus {
    border-bottom: #0095ff 1px solid;
    background: #E8F0FE;
}

.inputTitle {
    font-size: 20px;
    font-weight: bold;
    color: #393C44;
}

.inputBody {
    border: #ecedf2 1px solid;
    border-radius: 5px;
    width: 100%;
    font-size: .9rem;
    font-family: Roboto;
    color: #393C44;
}

.uploadButton{
    width: 100%;
    border-radius:5px;
    border: #ecedf2 1px solid;
    background: white;
    font-family: Roboto;
    color: #393C44;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    padding: 8px;

}

.uploadButton:hover{
    border: #0095ff 1px solid;
    background: #E8F0FE;
}
.uploadButton:disabled{
    border: #ecedf2 1px solid;
    background: white;
    cursor: unset;
    color: #777777;
}
