.shapes {
    display: inline-flex;
    flex-wrap: wrap;

    width: 100%;
    gap: 36px;
    border-radius: 5px;
    padding: 26px;
    transition: 150ms linear;
}

.shapeContainer{
    background: transparent;
    cursor: grab;
    height: fit-content;
}

.circle {
    cursor: grab;
    border: #e0e0e0 1px solid;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background: transparent;
    color: #555555;
    transition: color 150ms linear, border 150ms linear;

    display: flex;
    justify-content: center;
    align-items: center;
}



.circle:hover, .rect:hover {
    border-color: #0095ff;
}


.optionsDivider {
    cursor: pointer;
    height: 40px;

    color: #333333;
    font-size: .8rem;
    font-family: Roboto;
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: space-between;
    padding: 4px 4px 4px 16px;
    border-radius: 5px;
    transition: 150ms linear;
}
.optionsDivider:hover{
    background: #E8F0FE;
}
.divider {
    background: #ecedf2;
    height: 1px;
    width: 100%;
}

.stickyZone {
    display: none;
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 100;
    user-select: none;
    height: calc(100% - 32px);
    width: 400px;
    background: rgba(224, 224, 224, .5);
    border: #e0e0e0 4px solid;
    border-radius: 8px;
    transition: 150ms linear;
}

.stickyZone:hover, .stickyZone:focus {
    background: rgba(0, 149, 255, .5);
    border: #0095ff 4px solid;
}

.linkType {
    border: #e0e0e0 1px solid;
    border-radius: 5px;
    width: 80px;
    height: 80px;

    color: #555555;
    transition: 150ms linear;
    cursor: pointer;
    font-size: .8rem;

    padding-left: 8px;
    padding-right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.linkType:hover{
    border-color: #0095ff;
}

.stepRounded{
    cursor: grab;
    border-radius: 5px;
    width: 80px;
    height: 30px;
    border: #e0e0e0 1px solid;
}
.stepRect{
    cursor: grab;
    width: 80px;
    height: 30px;
    border: #e0e0e0 1px solid;
}
.circle:active, .rect:active, .stepRect:active, .stepRounded:active {
    color: #0095ff;
    border-color: #0095ff;
    background: #fbfbfb;
    border-style: dashed;
    cursor: grabbing;
}