.background {
    background: #f4f5fa radial-gradient(#0095ff 5%, transparent 0);
    background-size: 30px 30px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.options{
    display: grid;
    align-content: space-between;
    justify-items: center;
    gap: 16px;
    height: auto;

    position: absolute;

    margin: auto;
    right: -50%;

    animation: pop 250ms ease-in-out forwards;
}

@keyframes pop {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.optionButton{
    cursor: pointer;
    outline: none;
    border: #e0e0e0 1px solid;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 8px;
    border-radius: 50%;
    height: 40px;
    width: 40px;

    color: #555555;
    font-size: 1.1rem;
    transition: 150ms ease;

}
.optionButton:hover{
    color: #0095ff;
    transform: scale(1.1)
}
.pulse {
     display: block;

     border-radius: 50%;

     cursor: pointer;
        border: #e0e0e0 1px solid;
    /*box-shadow: 0 0 5px 5px rgba(0 ,0 ,0, .1);*/
     animation: pulse 1.5s infinite;


 }


@keyframes pulse {
    0% {

        box-shadow: 0 0 0 0 rgba(0, 149, 255, .4);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(0, 149, 255, 0);
    }
    100% {

        box-shadow: 0 0 0 0 rgba(0, 149, 255, 0);
    }
}

.indicatorContainer{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    top: 0;
    left: -14px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}
.placeHolder{
    background: white;
    border: #e0e0e0 1px solid;
    border-radius: 50%;
    position: absolute;
}

.limitContainer{
    position: fixed;
    bottom: 0;
    width: 100vw;
    background: transparent;
    z-index: 0; height: 3px;  border: transparent 2px dashed;
}

.entityContainer{

    user-select: none;

    border-radius: 50%;
    border: #e0e0e0 1px solid;
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;
    background: #f4f5fa;
    z-index: 9;
    transition: background 300ms ease, box-shadow 300ms ease, transform 300ms ease;
    box-shadow: none;
}
.lineContainer{
    width: 2px;
    background: #777777;
    position: absolute;
    box-sizing: content-box;
    color: #777777;
    transition: background 150ms ease;
}
.lineContainer:hover{
    background: #ff5555;
    color: #ff5555;
}