.wrapper{
    padding: 16px;
    width: 100%;
    display: flex;
    flex-flow: wrap;
    gap: 16px;
}
.title{
    font-size: 1.2rem;
    color: var(--color-1);
    font-weight: 600;

    display: flex;
    gap: 8px;
    align-items: center;
    padding: 16px;
    white-space: nowrap;
}

.titleDivider{
    height: 1px;
    width: 100%;
    background: var(--border-1);
}