.overviewRow {
    height: 56px;
    width: 100%;
    padding: 8px;

    border-bottom: #e0e0e0 1px solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modalContainer {
    height: 75%;
    width: 45%;
    background: white;
    position: relative;

    border: #e0e0e0 1px solid;
    border-radius: 8px;

    padding: 32px;

    display: grid;
    align-content: space-between;
    gap: 8px;
}

.closeButton {
    position: absolute;

    top: -20px;
    right: -20px;

    cursor: pointer;
    border-radius: 32px;
    height: 40px;
    width: 40px;
    background: #ff5555;
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    animation: fadeIn 250ms ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.descriptionContainer{
    display: grid;
    text-align: left;

    border-bottom: #e0e0e0 1px solid;
}
.applyButton{
    outline: none;
    background: #0095ff;
    color: white;
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: center;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: none;
    cursor: pointer;
    padding: 8px;
    /*transform: translateY(-100%);*/

    position: sticky;
    bottom: 0
}