.inputContainer {
    display: grid;

    align-items: center;
    justify-items: center;
    gap: 1px;
    height: clamp(400px, 75%, 500px);
    width: 425px;

    border: #ecedf2 1px solid;
    border-radius: 8px;
    padding: 32px;

    box-sizing: border-box;
}
