
@media (orientation: landscape){
    .navigationContent{
        display: grid;
        /*grid-template-rows:  33.333vh 33.333vh 33.333vh;*/
        gap: 2vh;
        justify-items: center;
        align-items: flex-start;
        height: 100vh;

    }
    .navigationContainer{
        position: fixed;
        transform: translateX(0%);
        top: 0;
        z-index: 0;
        overflow: hidden;
    }

    .top_bar_container{
        display: grid;
        grid-template-columns: 33.333vw 33.333vw 33.333vw;
        align-content: center;
        align-items: center;
        height: 100%;
        width: 100vw;
        margin-left: auto;
    }

    .bar_profile_container{


    }
}

@media (orientation: portrait){
    .left_bar_container{
        display: grid;
        width: 14vw;
        justify-content: center;
        align-content: center;
        align-items: center;
        overflow: hidden;
        height: 100vh;
        margin: auto;
    }

    .top_bar_container{
        display: grid;
        align-content: center;
        align-items: center;
        height: 100%;
        justify-content: space-evenly;
        width: 86vw;
        margin-left: auto;
    }

    .bar_profile_container{
        display: flex;
        overflow: hidden;
        justify-content: flex-end;
        width: 75%;
        margin-left: auto;
    }
}