
@media (orientation: landscape){

    .navigationContainer{
        position: fixed;
        left: 0;
        top: 0;
        z-index: 0;
        overflow: hidden;
        height: 100vh;

        display: block;
        justify-items: center;
        border-radius: 0 8px 8px 0;
    }
    .navigationContainer > * {
        width: 100%;
    }
    .top_bar_container{
        display: grid;
        /*grid-template-columns: 66.666vw 33.333vw;*/
        align-content: center;
        align-items: center;
        height: 100%;
        width: 100vw;
        margin-left: auto;
    }

    .bar_profile_container{


    }
}

@media (orientation: portrait){
    .left_bar_container{
        display: grid;
        width: 14vw;
        justify-content: center;
        align-content: center;
        align-items: center;
        overflow: hidden;
        height: 100vh;
        margin: auto;
    }

    .top_bar_container{
        display: grid;
        align-content: center;
        align-items: center;
        height: 100%;
        justify-content: space-evenly;
        width: 86vw;
        margin-left: auto;
    }

    .bar_profile_container{
        display: flex;
        overflow: hidden;
        justify-content: flex-end;
        width: 75%;
        margin-left: auto;
    }
}