.page_container{
    z-index: 1;
    position: relative;
    height: 100vh;

    /*margin-left: auto;*/
    overflow-y: auto;
    overflow-x: hidden;
}
.children_container{
    display: grid;
    justify-items: center;
    margin: auto;
}
.left{
    width: 18vw;
    height: 100vh;


    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    display: grid;
    justify-content: center;
    align-content: space-evenly;

}

.tab_buttons_container{
    display: flex;
    align-items: center;
    height: fit-content;
}

.stepper_container{
    display: flex;
    align-items: center;
    height: fit-content;
    justify-content: space-between;
}