
/*HEADERS*/
.primaryHeader{
    font-size: 1.5rem;
    font-weight: 500;
}
/*HEADERS*/

/*PARAGRAPHS*/
.primaryParagraph{
    font-size: 1rem;
    font-weight: 445;
}
.secondaryParagraph{
    font-size: .9rem;
    font-weight: 420;
}
.tertiaryParagraph{
    font-size: .8rem;
    font-weight: 400;
}
.overflowEllipsis{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
/*PARAGRAPHS*/

/*DISPLAY*/
.displayWarp{
    display: inline-flex;
    flex-flow: row wrap;
    gap: .8vw;
}
.displayInlineCenter{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.displayInlineStart{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.displayInlineEnd{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.displayInlineSpaced{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.normalBorder{
    border-radius: 8px;
}
.baseWidth{
    width: 45vw;
}
.mediumWidth{
    width: 40vw;
}
.smallWidth{
    width: 38vw;
}
/*DISPLAY*/

/*SPACING*/
.marginHorizontal{
    margin-left: 10px;
    margin-right: 10px;
}

.marginVertical{
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
}
.smallPaddingVertical{
    padding-bottom: 10px;
    padding-top: 10px;
}
.smallPaddingHorizontal{
    padding-left: 10px;
    padding-right: 10px;
}
/*SPACING*/
.popInAnimation{
    animation-duration: .3s;
    animation-name: pop_in;
}
@keyframes popIn {
    from {
        transform: scale(.2);
    }

    to {
        transform: scale(1);
    }
}