
/*HEADERS*/
.primaryHeader{
    font-size: 1.5rem;
    font-weight: 500;
}
/*HEADERS*/

/*PARAGRAPHS*/
.primaryParagraph{
    font-size: 1rem;
    font-weight: 445;
}
.secondaryParagraph{
    font-size: .9rem;
    font-weight: 420;
}
.tertiaryParagraph{
    font-size: .8rem;
    font-weight: 400;
}
/*PARAGRAPHS*/

/*DISPLAY*/
.displayWarp{
    display: inline-flex;
    flex-flow: row wrap;
    gap: .8vw;
}
.justifyCenter{
    display: flex;
    justify-content: center;
    justify-items: center;
}
.displayAsLine{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.normalBorder{
    border-radius: 8px;
}
.baseWidth{
    width: 45vw;
}
.mediumWidth{
    width: 40vw;
}
.smallWidth{
    width: 38vw;
}
/*DISPLAY*/

/*SPACING*/
.smallMargin{
    margin-left: 10px;
    margin-right: 10px;
}

.mediumMargin{
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.smallPadding{
    padding-bottom: 10px;
    padding-top: 10px;
}
/*SPACING*/

