
.formContainer{
    display:inline-flex;
    flex-flow:row wrap;
    column-gap:32px;
    row-gap:8px;
    justify-content:center;
    width:100%;
}




.filterContainer{
    display: grid;
    justify-items: center;
    align-content: space-between;
    overflow: hidden;

    height: 100%;

}
.accordionTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .9rem;
    /*max-width: 72%;*/
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}
.closeButtonModalContainer{
    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
    justify-content: flex-end;
    justify-items: flex-end;
}
.modalContainer{
    background-color: white;
    border-radius: 8px;
    height: 60%;
    width: clamp(500px, 60%,750px);
    padding:32px;
    overflow: hidden;

    display: grid;
    justify-items: center;
    align-content: flex-start;

    position: relative;
}
.modalContainer > div {
    /*height: 100%;*/
    width: 100%;
}
.formSubmitContainer{
    width: 100%;
    background: white;
    position: sticky;
    bottom: 0;
    z-index: 10;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    height: 7vh;
}

.line{
    width: 100%;
    background: #ecedf2;
    height: 1px;
    margin-top: 8px;
    margin-bottom: 8px;
}