





.filterContainer{
    display: grid;
    justify-items: center;
    align-content: space-between;
    overflow: hidden;

    height: 100%;
}
.accordionTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .9rem;
    /*max-width: 72%;*/
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}
.closeButtonModalContainer{
    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
    justify-content: flex-end;
    justify-items: flex-end;
}
.modalContainer{
    background-color: white;
    border-radius: 8px;
    height: clamp(500px, 75%, 75%);
    width: clamp(500px, 60%, 60%);
    padding: 16px;
    overflow: hidden;

    display: grid;
    justify-items: center;
    align-content: flex-start;
}
.modalContainer > div {
    /*height: 100%;*/
    width: 100%;
}