.listContainer{
    width: 45vw;
    display: grid;
    justify-content: center;
    justify-items: center;

}
.listTitle{
    position: sticky;
    top: 0;
    width: 50vw;
    z-index: 2;

    display: grid;
    justify-items: flex-start;
    align-content: space-between;

}
.listColumns{
    display: flex;
    align-items: center;
    /*justify-content: flex-start;*/
    height: 5vh;
}
.listContent{
    position: relative;
    z-index: 0;
    width: fit-content;
    display: grid;
    gap: .9vw;

}
.pageContainer{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    /*background-color: red;*/
}
.filterContainer{
    display: grid;
    justify-items: center;
    align-content: space-between;
    width: 27%;
    padding:0 25px 25px 25px;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: white;

    border-radius: 8px;
    margin-top: 10vh;
    height: 90vh;
}


.listColumnContent{
    display: grid;
    gap: .9vw;
    justify-items: center;
}

.button_container{
    border: transparent 2px solid;
    width: 14vw;
    height: fit-content;
    margin: auto auto 1vh;
}


.header_container {
    position: sticky;
    top: 0;
    z-index: 2;
    display: grid;
    justify-items: center;
}

.card_title{
    display: grid;
    justify-items: center;
    align-content: space-between;
    line-height: normal;
}
.row{
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.accordionTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .9rem;
    /*max-width: 72%;*/
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.pop_up_animation{
    border-radius: 8px;
    transition: .3s;
    height: fit-content;
    animation-duration: .2s;
    animation-name: pop_in;
}