.scaleContainer{
    margin-left: auto;
    display: flex;
    align-items: center;
    background: white;
    border-radius: 32px;
    height: 15px;
    position: fixed;
    bottom: 32px;
    right: 32px;
}

.scaleButton{
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    color: #777777;
    background-color: white;
    transition: 150ms linear;
    cursor: pointer;
}
.scaleButton:hover{
    color: #393C44;
    background-color: #f4f5fa;
}
.scaleButton:active{
    color: #0095ff;
    background-color: #E8F0FE;
}
.scaleButton:disabled{
    cursor: unset;
    color: #999999;
    background-color: white;
}
.scaleInfo{
    width: 50px;
    font-size: .9rem;
    color: #393C44;
    font-weight: bold;
    text-align: center;
}


/*TABS*/

.tabsContainer {
    width: 100%;
}

.tabNavigation {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: #e0e0e0 1px solid;
}

.tabButtonContainer {
    cursor: pointer;
    outline: none;
    background: transparent;
    width: 100%;
    padding: 8px 16px;
    border: none;
    border-radius: 5px 5px 0 0;
    font-size: .95rem;
    font-weight: bold;
    color: #666666;
    transition: 200ms linear;
}

.tabButtonContainer:hover {
    background: #E8F0FE;
}

.contentContainer {
    margin-top: 16px;
    width: 100%;
}