
.popContainer {
    padding: 8px;
    border-radius: 8px;
    display: flex;
    max-width: 200px;
    height: 73px;
    min-height: 75px;
    min-width: 110px;
    align-items: center;

    background: white;
    border: #e0e0e0 1px solid;

}

.popHeader {
    display: grid;
    justify-content: flex-start;
    justify-items: flex-start;
    gap: 8px;
    padding: 8px;
    margin-bottom: auto;
    width: 100%;
    border-bottom: #e0e0e0 1px solid;
    height: 62px;
}

.title {
    font-size: 1.1rem;
    color: #333333;
}

.description {
    font-size: .85rem;
    color: #555555;
}

.closeButton {
    width: 100%;
    border-radius: 0 0 8px 8px;

    padding: 5px;
    cursor: pointer;

    background: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 34px;
    color: #555555;
    gap: 8px;
    outline: none;
    border: none;
    border-top: #e0e0e0 1px solid;
    border-bottom: #e0e0e0 1px solid;
}

.closeButton:hover {
    color: #ff5555;
}

.popBody {
    padding: 8px;
    display: grid;
    align-content: flex-start;
    height: 404px;

    overflow-y: auto;
    white-space: pre-line;

    gap: 8px;
    text-align: left;

    font-size: .85rem;
    color: #333333;
}

.popImage {
    width: 100%;
    border-radius: 8px;
}

.overflowEllipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    box-sizing: border-box;
}