.container {
    background: white;
    border-radius: 5px;
    padding: 8px;
    user-select: none;
}

.valuesLabel {
    height: 10%;
    text-align: center;
    display: grid;
    align-content: space-between;
}

.axisLabel {
    text-orientation: sideways;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-align: center;
}


.legendsContainer {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;
    height: auto;

}

.legend {
    display: flex;
    align-items: center;
}

.content {
    display: flex;
    height: 80%;
    width: 100%;
}

.header {
    font-family: Roboto;
    font-weight: bold;
    font-size: 1.1rem;
    color: #393C44;
    text-align: left;
    width: 100%;
    height: 10%;
}

.graphs {
    position: relative;
    padding: 16px;
    padding-right: calc(5% - 8px);
    display: grid;
    height: 100%;

    border-radius: 8px;
    width: 100%;
    align-content: flex-start;
    gap: 8px;
    overflow-y: auto;
}

.data {
    border-radius: 3px;
    height: 40px;
    min-width: 17px;

    animation: extend 750ms ease-in-out;

    transition: 250ms ease;
    position: relative;
    z-index: 999;
}
.data:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
@keyframes extend {
    0%{
        max-width: 0;
    }
    100%{
        max-width: 100%;
    }

}

.row{
    display: flex;
    width: 100%;

}
.label{
    width: 40px;

    text-align: left;
    vertical-align: middle;
    line-height: 40px;
    font-family: Roboto;
    font-size: .9rem;
    color: #555555;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.overview{
    background: #f4f5fa;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /*background: white;*/
    border-radius: 5px;
    padding: 16px;
    display: grid;
    justify-items: center;
    align-content: flex-start;
    gap: 16px;

}

.values{
    display: flex;
    height: 40px;
    position: sticky;
    bottom: 0;
    width: 100%;
    background: white;
    /*padding-left: calc(5% + 10px);*/
}
.value{
    font-family: Roboto;
    color: #555555;

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .85rem;
    position: relative;
}
.valueDivider{
    position: absolute;
    width: 1px;
    background: #e0e0e0;
    height: 100%;
    z-index: 1;
    top: 0;
}