.light{
    --background-base: #f9fafb;
    --background-1: white;
    --background-2: #f4f5fa;
    --background-3: #E8F0FE;

    --border-0: #ecedf2;
    --border-1: #e0e0e0;

    --color-0: #333333;
    --color-1: #555555;
    --color-2: #666666;
    --color-3: #777777;
    --color-4: #999999;

    --box-shadow-1: #e0e0e0;
}

.dark{
    --background-base: #1e2121;
    --background-1: #292c2b;
    --background-2: #191C1C;
    --background-3: #1f2123;

    --border-0: #1e2121;
    --border-1: #707070;

    --color-0: white;
    --color-1: #f4f5fa;
    --color-2: #f0f0f0;
    --color-3: #e0e0e0;
    --color-4: #dedede;

    --box-shadow-1: #111111;
}

