.formInfoContainer{
    font-size: 1rem;
    color: #555555;
}

.container{
    margin-top: 32px;
    display: grid;
    align-items: center;
    gap: 64px;
}


.formContainer{
    display: grid;
    gap: 16px;
    padding: 8px;
    width: 85%;
    margin: auto;
    border: #e0e0e0 1px solid;

}
.formContainer > div{
    width: 100%;
}
.formFieldsContainer {
    display: inline-flex;
    flex-flow: row wrap;
    column-gap: 32px;
    row-gap: 8px;
    justify-content: center;
    width: 100%;
}

.formContainer{
    display: grid;
    gap: 16px;
    padding: 32px;

    border-radius: 8px;
    border: #e0e0e0 1px solid;

    position: relative;
}
.formContainer > {
    width: 100%;
}
.formFieldsContainer {
    display: inline-flex;
    flex-flow: row wrap;
    column-gap: 32px;
    row-gap: 8px;
    justify-content: center;
    width: 100%;
}
.saveButtonContainer{
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    /*background-color: #f4f5fa;*/
    border-radius: 8px;

    outline: none;
    border: #e0e0e0 1px solid;
    transition: 250ms ease-in-out;
    cursor: pointer;

    width: 100%;
}
.saveButtonContainer:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}
.saveButtonContainer:active{
    box-shadow: none;
}

.labelContainer{
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    justify-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    padding-bottom: 4px;
    gap: 32px;
    border-bottom: #e0e0e0 1px solid;
}
.returnButtonContainer {
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: .9rem;
    color: #555555;
    background: transparent;
    outline: none;
    border: none;
    transition: 250ms ease-in-out;
    cursor: pointer;
    height: 40px;
    width: 40px;
    border-radius: 32px;
}
.returnButtonContainer:hover{
    color: #ff5555;
}
.returnButtonContainer:active{
    color: #ff5555;
    background: #f4f5fa;
}


.fieldsetContainer {
    padding: 0;
    border: none;
    outline: none;
    width: 100%;
    border-radius: 8px;
    margin: auto;
}

.fieldsetContainer > legend {
    transform: translateY(-1rem);
}
