.HeaderLayout {
  display: grid;
  justify-items: center;
  align-content: space-between;
  margin: auto;
  height: auto;
  flex-direction: column;
  transition: all 300ms ease-in-out;

}

.firstRowContainer {
  width: 100%;
  margin-top: 15px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleContainer {
  height: 100%;
  gap: .4rem;

  display: grid;
  align-items: center;
  justify-content: flex-start;
}
