
.personas_container {
    display: inline-flex;
    flex-wrap: wrap;
    gap: .9vw;
    width: 45vw;
    margin-top: 22vh;

}

.persona_fields_container {
    display: grid;
    justify-items: center;
    width: 90%;
    line-height: normal;
    align-content: space-between;
}

.modal_container {
    margin: 15vh auto auto;
    width: 40vw;
    border-radius: 8px;
    height: 50vh;
}

.card_container {
    display: grid;
    justify-items: center;

    overflow: hidden;
    width: 14.4vw;
    height: 29vh;
    border: transparent 3px solid;
    transition: 0.3s;
    animation-duration: .2s;
    animation-name: pop_in;
}
.card_container:hover{
    border: #39adf6 3px solid;
}
@keyframes pop_in {
    from {
        transform: scale(.2);
    }

    to {
        transform: scale(1);
    }
}
.paper_container{
    width: calc(45vw + 2px);
    border-radius: 8px;
    transition: 0.2s;
}

.inactive_container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    height: 4vh;
    background-color: rgba(236, 78, 43, 0.2);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 100%;

}