
.scaleContainer{
    margin-left: auto;
    display: flex;
    align-items: center;
    background: white;
    border-radius: 32px;
    height: 15px;
    position: fixed;
    bottom: 32px;
    right: 32px;
}

.pagesContainer {
    border: #ecedf2 1px solid;
    margin-left: auto;
    display: flex;
    align-items: center;
}
.scaleButton{
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    color: #777777;
    background-color: white;
    transition: 150ms linear;
    cursor: pointer;
}
.scaleButton:hover{
    color: #393C44;
    background-color: #f4f5fa;
}
.scaleButton:active{
    color: #0095ff;
    background-color: #E8F0FE;
}
.scaleButton:disabled{
    cursor: unset;
    color: #999999;
    background-color: white;
}
.scaleInfo{
    width: 50px;
    font-size: .9rem;
    color: #393C44;
    font-weight: bold;
    text-align: center;
}
.mainPage{
    background: #ecedf2;
}
.pageButton{
    width: fit-content;

    min-width: unset;
    height: 100%;
    outline: none;
    border: none;
    font-size: .85rem;
    border-right: #ecedf2 1px solid;
    font-weight: bold;
    padding: 8px;
    background: white;
}

.newPageButton{
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 100%;
    color: #393C44;
    background-color: white;
    transition: 150ms linear;
    cursor: pointer;
}
.newPageButton:hover{
    color: #393C44;
    background-color: #f4f5fa;
}
.newPageButton:active{
    color: #0095ff;
    background-color: #E8F0FE ;
}
.newPageButton:disabled{
    cursor: unset;
    color: #999999;
    background-color: white;
}