@import "../../../theme/styles.module.css";

.container {
    background: var(--background-1);
    border-radius: 5px;
    height: 100%;
    width: 100%;
    display: grid;
    overflow-y: auto;
    border: var(--border-0) 1px solid;

}

.headerContainer {
    position: sticky;
    top: 0;
    z-index: 50;
    background: var(--background-1);
    height: 65px;

    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    border-bottom: var(--border-0) 1px solid;
}

.buttonContainer {
    outline: none;
    box-shadow: none;
    background: transparent;
    border-radius: 8px;
    border: none;
    transition: 150ms ease-in-out;
    padding: 12px 8px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;

    cursor: pointer;
    color: var(--color-1);
}

.buttonContainer:hover {
    background: var(--background-1);
    color: var(--color-0);
}

.buttonContainer:active {
    background: var(--background-3);
    color: #0095ff;
}

.buttonContainer:disabled {
    background: var(--background-1);
    color: #999999;
    cursor: unset;
}

.returnButton {
    border-bottom: none;
    padding: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    color: var(--color-0);
    height: 40px;
    width: 40px;
}

.returnButton:hover {
    color: #ff5555;
    background: var(--background-2);
}

.returnButton:active {
    color: var(--color-0);
    background: var(--background-2);
}

.optionsContainer {
    display: grid;
    gap: 4px;
    padding: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border-radius: 8px;
    position: absolute;
    z-index: 999;
    background: var(--background-1);
    /*border: #0095ff 2px solid;*/
    top: 56px;
    right: 0px;
    animation: popIn 150ms linear;
}

@keyframes popIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.header {
    padding-left: 8px;
    display: flex;
    gap: 4px;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;

    color: var(--color-1);
}

.submitContainer {
    bottom: 0;
    border-radius: 0 0 5px 5px;
    border-bottom: none;
    border-top: var(--border-0) 1px solid;
    padding: 8px;
    z-index: 50
}


.fieldsetContainer {
    border-top: var(--border-0) 1px solid;
    border-bottom: none;
    border-left: none;
    border-right: none;
    padding: 12px 0 24px 0;
    outline: none;
    width: 100%;
    overflow: visible;
    margin: auto;
}

.legend {
    padding-right: 16px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-2);
    padding-left: 0;
}

.formFieldsContainer {
    overflow: visible;
    display: inline-flex;
    flex-flow: row wrap;
    column-gap: 32px;
    /*row-gap: 16px;*/
    justify-content: center;
    width: 100%;
}


.saveButton {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    border-radius: 8px;
    background: #0095ff;
    outline: none;
    border: var(--border-0) 1px solid;
    transition: 150ms linear;
    cursor: pointer;
    width: 100%;
    color: white;
}

.saveButton:hover {
    opacity: .8;
}


.saveButton:active {
    opacity: .6;
}

.saveButton:disabled {
    color: var(--color-4);
    cursor: unset;
    box-shadow: none;
    background: var(--background-2);
    opacity: 1;
}
