@import '../../../theme/styles.module.css';


.buttonContainer {
    outline: none;
    border: none;
    background: transparent;

    display: flex;
    align-items: center;
    gap: 6px;

    color: var(--color-1);
    cursor: pointer;
    max-width: 225px;
    height: 100%;

    transition: 150ms linear;
    border-radius: 5px;
}
.buttonContainer:hover{
    background: var(--background-2);
}
.buttonContainer:active{
    background: var(--background-3);
    color: #0095ff;
}

.appsContainer {
    position: relative;
    height: 100%;
}
.overflowEllipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.floatingBox{
    background: var(--background-1);
    position: absolute;
    height: auto;
    padding: 4px;
    width: 200px;
    transform: translateY(60px);
    right: 0;
}


.appsButtonContainer{

}