@import '../../../../../theme/styles.module.css';

.appLabel{
    font-size: .8rem;
    font-weight: bold;
    font-family: Roboto;
    color: var(--color-1);
    max-width: 100%;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.appButton{
    outline: none;
    width: calc(33.333% - 6px);
    height: 60px;
    border: var(--border-0) 1px solid;
    background: var(--background-1);
    border-radius: 5px;
    color: var(--color-2);
    display: grid;
    justify-content: center;
    justify-items: center;
    gap: 4px;
    padding: 8px;

    transition: 150ms linear;

    cursor: pointer;

}
.appButton:hover{
    background: var(--background-2);
}
.appButton:active{
    background: var(--background-3);
    color: #0095ff;
}

.appsWrapper{
    transform: translate(50%, 16px);
    right: 50%;
    position: absolute;
    z-index: 999;
    height: auto;

    width: 250px;

    background: var(--background-1);
    box-shadow: var(--box-shadow-1) 0px 2px 8px 0px;
    padding: 8px;

    border-radius: 5px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    gap: 8px;
}
.overflowEllipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.appsContainer {
    position: relative;
    height: 100%;

}
.buttonContainer {
    outline: none;
    border: none;
    background: transparent;

    display: flex;
    align-items: center;
    gap: 6px;

    color: var(--color-1);
    cursor: pointer;
    max-width: 225px;
    height: 100%;

    transition: 150ms linear;
    border-radius: 5px;
    padding: 8px;
}
.buttonContainer:hover{
    background: var(--background-2);
}
.buttonContainer:active{
    background: var(--background-3);
    color: #0095ff;
}
