.wrapper{
    position: fixed;
    z-index: 999;
    background: white;
    top: 0;
    left: 0;
    width: 100vw;
    height: 5px;
}

.loader{
    border-radius: 5px;
    animation: load 2s infinite;
    position: absolute;
    background: #0095ff;
    height: 5px;
    width: 15vw;
}

@keyframes load {
    0%{
        opacity: .3;
        transform: translateX(0);
    }
    50%{
        opacity: 1;
        transform: translateX(50vw);
    }
    100%{
        opacity: .3;
        transform: translateX(100vw);
    }
}