.container{
    display: flex;
    gap: 8px;
    width: 100%;
    align-items: center;
    background: white;
    height: 30px;
    border-bottom: #ecedf2 1px solid;
    padding-left: 8px;
    padding-right: 8px;
}
.button{
    outline: none;
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    height: 25px;
    width: 25px;
    cursor: pointer;
    color: #333333;
    transition: 150ms linear;
}
.button:hover{
    background: #E8F0FE;
    color: #0095ff;
}
.fontSize{
    display: flex;
    align-items: center;
}

.fontInput{
    outline: none;
    border: none;
    background: transparent;
    font-size: .8rem;
    color: #333333;
    width: 30px;
    text-align: center;
}