@media (orientation: landscape) {


    .pageContainer {
        width: 100vw;
        height: 100vh;
        background-color: #f5f6f8;
    }

    .footer_container {

        border-top: #777777 2px solid;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: space-evenly;
    }

    .form_fields_container {
        display: grid;
        height: 40vh;
        align-content: space-between;
    }

    .art_half_container {
        grid-column: 1;
        display: grid;
        margin: auto;
        align-content: space-between;
        height: 100vh;
        row-gap: 2.5vh;

    }
}
