.alertContainer {
  padding: 8px;
  width: 500px;
  height: 56px;

  position: fixed;
  bottom: 0;
  margin: auto;
  transform: translateX(-50%);
  z-index: 25;

  border-radius: 8px;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.alertContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonContainer {
  width: 40px;
  height: 40px;

  border-radius: 8px;
  box-shadow: none;

  font-family: 'Roboto' !important;
  outline: none;
  border: none;
  transition: 200ms ease-in-out;
  cursor: pointer;

  color: #555555;
  background: transparent;

  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;


}


.slideUp {
  position: relative;
  animation: slideUp ease-in-out 150ms forwards;
}

@keyframes slideUp {
  to{
    transform: translateY(-100px);
  }
  from{
    transform: translateY(0);
  }
}

.alertContentContainer{
  display: flex;
  gap: 10px;
  justify-items: flex-start;
  align-items: center;


}