@import '../../../theme/styles.module.css';

.overflowEllipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

}


.header {
    position: sticky;
    top: 0;
    z-index: 75;
    overflow: visible;
    height: 45px;
    width: 100%;
    justify-items: center;

    transition: 150ms linear;
    box-sizing: border-box;
    border-bottom: var(--border-0) 1px solid;
    display: flex;
    justify-content: space-between;
    background: var(--background-1);

    padding: 4px;
}

.navigationContainer > div {
    width: 100%;
}


.content {
    display: flex;
    font-size: .9rem;
    gap: 16px;
    align-items: center;
    height: 100%;
    color: var(--color-2);
    font-weight: bold;
    font-family: Roboto;
}

.children {
    color: var(--color-2);
    background: var(--background-base);
    width: 100%;
    height: 100%;
    transition: 150ms linear;
    margin-left: auto;
}

.wrapper {
    display: block;
    height: 100vh;
    overflow: hidden;
    width: 100%;
    background: var(--background-1);


}

.contentWrapper {
    border-radius: 5px 0 0 0;

    display: flex;
    max-width: 100%;
    overflow: hidden;
    width: 100%;

    height: 100%;
}


.buttonContainer {
    outline: none;
    border: none;
    background: transparent;

    display: flex;
    align-items: center;
    gap: 6px;

    color: var(--color-1);
    cursor: pointer;
    max-width: 225px;
    height: 100%;

    transition: 150ms linear;
    border-radius: 5px;
    padding: 8px;
}

.buttonContainer:hover {
    background: var(--background-2);
}

.buttonContainer:active {
    background: var(--background-3);
    color: #0095ff;
}
