.setting_row_container{
    width: 14vw;
    display: grid;
    justify-content: space-between;
    border-radius: 8px;
    align-content: space-between;
    min-height: 10vh;
}

.settings_container{
    display: grid;
    align-content: space-between;
    align-items: center;
    width: 45vw;
}
.theme_container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

