
.stickyZone {
    display: none;
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 100;
    user-select: none;
    height: calc(100% - 32px);
    width: 400px;
    background: rgba(224, 224, 224, .5);
    border: #e0e0e0 4px solid;
    border-radius: 8px;
    transition: 150ms linear;
}

.stickyZone:hover, .stickyZone:focus {
    background: rgba(0, 149, 255, .5);
    border: #0095ff 4px solid;
}

.context{
    position: absolute;
    z-index: 999;
    background: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    width: 250px;
    min-height: 40px;
    animation: popIn 250ms ease;
}
.exitAnimation{
    animation: popOut 250ms ease;
}
@keyframes popOut {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes popIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.contextButton{
    width: 100%;
    min-height: 40px;
    outline: none;
    background: transparent;
    transition: 150ms linear;
    border: none;
    font-family: Roboto;
    color: #575757;
    font-size: .9rem;
    cursor: pointer;

    display: flex;
    justify-items: flex-start;
    align-items: center;
    gap: 16px;
}
.contextButton:hover{
    background: #f4f5fa;
}
.contextButton:active{
    background: #E8F0FE;
    color: #0095ff;
 }
.contextButton:disabled{
    background: transparent;
    color: #999999;
    cursor: unset;
}