
@media (orientation: landscape){
    .nav_bar_container{
        display: grid;
        grid-template-rows: 10vh 70vh 30vh;
        justify-content: center;
        position: fixed;
        height: 100vh;
        width: 17vw;

    }
    .button_container{
        width: 16vw;
        border-radius: 8px;
        height: fit-content;
        margin-bottom: 2vh;
    }

    .top_bar_container{
        display: grid;
        grid-template-columns: 14vw 23vw 40vw 23vw;
        align-content: center;
        align-items: center;
        height: 100%;
        width: 100vw;
        margin-left: auto;
    }

    .bar_profile_container{
        display: grid;
        justify-items: center;
    }
}

@media (orientation: portrait){
    .left_bar_container{
        display: grid;
        width: 14vw;
        justify-content: center;
        align-content: center;
        align-items: center;
        overflow: hidden;
        height: 100vh;
        margin: auto;
    }

    .top_bar_container{
        display: grid;
        align-content: center;
        align-items: center;
        height: 100%;
        justify-content: space-evenly;
        width: 86vw;
        margin-left: auto;
    }

    .bar_profile_container{
        display: flex;
        overflow: hidden;
        justify-content: flex-end;
        width: 75%;
        margin-left: auto;
    }
}