@import '../../../theme/styles.module.css';

.wrapper {
    text-rendering: optimizeLegibility !important;
    position: absolute;
    top: 0;
    right: 0;
    width: 35%;
    height: 100vh;

    border-radius: 5px 0 0 5px;
    padding: 16px;

    overflow-y: auto;
    overflow-x: hidden;
    display: grid;
    gap: 32px;
    align-content: flex-start;

    transform: translateZ(0) scale(1.0, 1.0) ;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

.header {
    color: var(--color-1);
    font-weight: 600;
    font-size: 1.2rem;
    font-family: Roboto;

    text-align: left;
    width: 100%;

    height: fit-content;


}

.subHeader {
    margin-top: 4px;

    color: var(--color-4);
    font-size: .8rem;
    font-family: Roboto;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 75%;
}

.body {
    margin-top: 4px;
    font-family: Roboto;
    overflow-x: auto;
    color: var(--color-1);
    font-weight: 600;
    font-size: .8rem;
    filter: none;
    min-height: 50px;
    border: var(--border-0) 1px solid;
    background: var(--background-2);
    padding: 4px;
    border-radius: 5px;
}

.footer {
    margin-top: 4px;
    border: var(--border-0) 1px solid;
    color: var(--color-4);
    font-weight: 600;
    font-size: .75rem;
    font-family: Roboto;
    padding: 8px;
    border-radius: 5px;
    display: grid;
    gap: 8px;
}


.closeButton {
    position: absolute;
    z-index: 999;
    width: 40px;
    height: 40px;
    top: 0;
    right: 0;

    outline: none;
    cursor: pointer;
    border: none;
    background: var(--background-1);
    color: var(--color-1);

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 150ms linear;
}

.closeButton:hover {
    color: #ff5555;
}

.closeButton:active {
    color: #ff5555;
    transform: scale(1.1);
}

.copyButton {
    height: 20px;

    outline: none;
    cursor: pointer;
    border: none;
    background: #0095ff;
    color: white;
    border-radius: 5px;
    font-family: Roboto;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: 150ms linear;

    padding: 4px 16px;
}

.copyButton:hover{
    opacity: .9;
}
.copyButton:active{
    opacity: .6;
}


