.header {
    color: var(--color-0);
    font-size: 1.4rem;
    font-weight: 600;
    padding: 0 10%;

    background: var(--background-1);

    display: grid;
    gap: 8px;
    height: fit-content;
    overflow: hidden;

}

.typeLabel {
    color: var(--color-2);
    font-size: .85rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;

}

.contentWrapper {
    flex-grow: 1;

    max-height: 100%;
    padding: 0 10%;
    display: flex;
    width: 100%;

    overflow: hidden;
}

.wrapper {
    overflow: auto;
    height: 100%;
    width: 100%;
}

.button {
    outline: none;
    background: none;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-family: Roboto;
    color: var(--color-1);

    cursor: pointer;

    transition: 150ms linear;
}

.button:hover {
    text-decoration: underline;
}

.button:active {
    text-decoration: underline;
    background: var(--background-3);
    color: #0095ff;
}

.button:disabled {
    cursor: unset;
    background: none;
    color: var(--color-1);
    text-decoration: none;
}
