@import '../../../theme/styles.module.css';

.wrapper {
    overflow: hidden;
    width: 100vw;
    position: fixed;
    height: 100vh;
    z-index: 300;
    transition: 150ms linear;
    bottom: 0;
}


.modalContainer {
    width: 100%;
    height: 100%;
}

.fadeIn {
    animation: fadeInAnim linear 150ms forwards;
}

.fadeOutAnimation {
    animation: fadeOut linear 150ms;
}


@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeInAnim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.slideLeftEnter {
    animation: slideLeftEnterAnim linear 150ms;
}

.slideLeftExit {
    animation: slideLeftExitAnim linear 150ms;
}

.slideRightEnter {
    animation: slideRightEnterAnim linear 150ms;
}

.slideRightExit {
    animation: slideRightExitAnim linear 150ms;
}

@keyframes slideLeftEnterAnim {
    0% {
        transform: translateX(-100%);

    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideLeftExitAnim {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes slideRightEnterAnim {
    0% {
        transform: translateX(100%);

    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideRightExitAnim {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}
.background{
    background-color: var(--background-1);
}