.labelContainer {
    /*animation: slideUp ease-in-out 250ms both;*/
    transition: visibility 300ms ease-in-out;
    color: #262626;
    font-size: .9rem;
    margin-top: auto;
    overflow: hidden;

    text-transform: capitalize;

}

.dropDownContainer {
    display: grid;
    gap: 8px;
    height: auto;
    position: relative;
}
.selectContainer:hover{
    border-color: #0095ff;
    box-shadow: 0 0 2px 1px #0095ff;
}
.selectContainer:focus, .selectContainer:focus-visible, .selectContainer:focus-within {

    color: #262626;
    box-shadow: 0 0 2px 1px #0095ff;
    border-color: #0095ff;
    background: #E8F0FE;
}

.selectContainer {
    font-family: 'Roboto' !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: #ecedf2 1px solid;

    box-shadow: unset;
    transition: 250ms ease-in-out;
    background: white;
    width: 100%;
    outline: none;
    padding: 5px;
    font-size: 1rem;
    color: #555555;
    cursor: pointer;
    height: 40px;
}

.alertLabel {
    margin-left: auto;
    font-weight: 550;
    font-size: .8rem;
}

.modalContainer {
    height: clamp(500px, 75%, 1000px);
    width: 1000px;
    align-content: flex-start;
    background: white;
    position: relative;

    border: #e0e0e0 1px solid;
    border-radius: 8px;

    padding: 16px;
}

.closeButton {
    position: absolute;
    z-index: 999;
    width: 40px;
    height: 40px;
    top: 5px;
    right: 5px;

    outline: none;
    cursor: pointer;
    border: none;
    background: transparent;
    color: #555555;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 150ms linear;
}
.closeButton:hover{
    color: #ff5555;
}
.inputContainer {

    border: none;
    box-shadow: unset;

    background: transparent;
    width: 100%;
    font-family: 'Roboto' !important;
    height: 44px;

    outline: none;
    padding: 5px 12px;
    font-size: 1rem;

}

.fieldsContainer {
    width: 100%;
    display: flex;
    align-items: center;
    height: 50px;
    border-radius: 8px;
    transition: 150ms ease-in-out;
    color: #555555;
    background: white;
    gap: 0;
    padding: 0 0 0 16px;
    border: #e0e0e0 1px solid;
    margin-bottom: 32px;
}

.fieldsContainer:hover {
    box-shadow: #0095ff 0px 0px 1px 1.5px;
}

.fieldsContainer:focus, .fieldsContainer:focus-within {
    color: black;
    box-shadow: #0095ff 0px 0px 1px 1.5px;
    background: #f4f5fa;
}

.searchButtonContainer {
    padding: 0;
    outline: 0;
    height: 44px;
    width: fit-content;
    border: none;
    color: #555555;
    border-radius: 8px;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;



    background: transparent;
    transition: 300ms ease-in-out;
}

.searchButtonContainer:hover {
    color: #0095ff;
}
.selectedEntityContainer{
    width: 100%;
    border: #0095ff 2px solid;

    height: 56px;
    color: #333333;
    font-size: .9rem;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: space-between;
        padding: 8px;
}
.removeButton{

    width: 28px;
    height: 28px;
    border-radius: 32px;

    outline: none;
    cursor: pointer;
    border: none;
    background: transparent;
    color: #ff5555;

    display: flex;
    align-items: center;
    justify-content: center;
}

.divider{
    height: 20px;
    width: 1px;
    background: #e0e0e0;

}

.overflow{
    font-family: Roboto;
    font-size: .85rem;


    /*overflow: hidden;*/
    text-overflow: ellipsis;
    white-space: nowrap;

}