.logoHalf {
    width: 60% ;
    height: 100%;
    display: grid;
    align-content: space-evenly;
    justify-items: center;
    background-color: #222228;
}

.pageContainer {
    width: 100%;
    height: 100vh;

    background-color: white;
    display: flex;
}

.logoImage {
    width: 50%;

}

.inputHalf {
    width:40% ;
    margin-left: auto;
    height: 100%;
    display: grid;
    background-color: white;
    padding-left: 6%;
    padding-right: 6%;

    align-items: center;


}
.inputContentContainer{
    display: grid;

    align-items: center;
    justify-items: flex-start;
    gap: 1px;
    height: 38%;
    width: 100%;
}
