.navigationContainer {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 0;
    overflow: hidden;
    height: 100vh;

    display: block;
    justify-items: center;

    transition: 250ms ease-in-out;
    background-color: #222228;

}

.navigationButtonsHalf {
    height: 66.666%;
    width: 100%;
    display: grid;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: center;
    justify-items: center;
    gap: 16px;
}

.logoContainer {
    width: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
    height: 65px;
    margin-bottom: 32px;
}

.expandableTabsContainer{
    display: flex;
    gap: 8px;
    justify-content: center;
    width: fit-content;
    transition: 300ms ease-in-out;


    padding: 3px;

}


.buttonContainer {
    height: 48px;
    width: fit-content;

    display: flex;


    align-items: center;


    outline: none;
    box-shadow: none;

    background-color: #333333;
    padding-left: 8px;
    padding-right: 8px;

    border-radius: 8px;
    border: none;

    color: #a6a6a9;

    cursor: pointer;

    transition: 300ms ease;

    font-family: 'Roboto' !important;
}

.buttonContainer:hover {
    color: #0095ff;

}