.pageContainer {
    display: grid;
    width: 100%;
    gap: 16px;

}

.profileContainer {
    grid-row: 1;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;

    height: fit-content;

    overflow: hidden;
}

.profileContentContainer {
    grid-row: 2;
    display: grid;
    align-items: flex-start;
    gap: 16px;
    position: relative;
    z-index: 2;
    padding-left: 13%;
    padding-right: 13%;

    margin-bottom: 15%;
}

.profileHeader {
    background: #f4f5fa;

    border-bottom: #ecedf2 1px solid;
    width: 100%;

    display: grid;
    gap: 32px;

    justify-items: flex-start;

    padding-left: 13%;
    padding-right: 13%;
    padding-bottom: 16px;

    height: 210px;
}

.personOptionsContainer {
    display: grid;
    gap: 16px;

}

.optionContainer {
    display: flex;
    gap: 16px;
}

.overviewContainer {
    display: grid;
    gap: 16px;
}

.overviewRow {
    height: 56px;
    width: 100%;
    background: #f4f5fa;
    border-radius: 8px;
    padding: 8px;

    border: #ecedf2 .7px solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
}