.subject_person_container{
    display: grid;
    justify-content: center;
    justify-items: center;
    width: 100px;
    align-content: space-between;
    height: fit-content;
}

.nav {
    margin: 20px auto;
    width: 455px;
    min-height: auto;
}

.nav ul {
    position: relative;
    padding-top: 35px;
}

.nav li {
    position: relative;
    padding: 35px 3px 0 3px;
    float: left;
    transition: 200ms ease-in-out;
    text-align: center;
    list-style-type: none;
}

.nav li::before, .nav li::after{
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    width: 50%;
    height: 35px;
    transition: 200ms ease-in-out;
    border-top: 1px solid #ccc;
}

.nav li::after{
    left: 50%;
    right: auto;
    transition: 200ms ease-in-out;
    border-left: 1px solid #ccc;
}

.nav li:only-child::after, .nav li:only-child::before {
    content: '';
    display: none;
}

.nav li:only-child{ padding-top: 0;}
.nav li:first-child::before, .nav li:last-child::after{
    border: 0 none;
}

.nav li:last-child::before{
    border-right: 1px solid #ccc;
    border-radius: 0 5px 0 0;
}

.nav li:first-child::after{
    border-radius: 5px 0 0 0;
}
.nav ul ul::before{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 1px solid #ccc;
    width: 0;
    height: 35px;

}

.nav li span{
    display: inline-block;
    /*padding: 5px 10px;*/

    cursor: pointer;

    background: #f4f5fa;
    border:  #ecedf2 1px solid;
    border-radius: 8px;


    /*border: 1px solid #ccc;*/

    transition: 200ms ease-in-out;
}

.nav li span:hover, .nav li a:hover+ul li a{


    box-shadow: 0 0 4px 2px #0095ff;

}
.nav li span:hover+ul li::after,
.nav li span:hover+ul li::before,
.nav li span:hover+ul::before,
.nav li span:hover+ul ul::before{
    content: '';
    border-color: #0095ff;
}
