.alertContainer {
  padding: 16px;
  width: clamp(500px, 500px, 90%);

  position: fixed;
  bottom: clamp(16px, 5%, 5%);
  left: 50%;
  transform: translateX(-50%);
  z-index: 25;

  border-radius: 8px;

  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;

}

.alertContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.buttonContainer {
  width: 100%;
  border-radius: 8px;
  box-shadow: none;
  padding: 8px;
  height: auto;
  font-family: 'Roboto' !important;
  outline: none;
  border: none;
  transition: 200ms ease-in-out;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
}

