
.nodeContentContainer {
    width: 150px;
    min-height: 75px;
    box-sizing: border-box;
    cursor: pointer;

    overflow: hidden;
}

.nodeContentContainer:first-child {
    height: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.optionsContainer {

    height: auto;
    width: 100%;


    display: grid;
    gap: 8px;
}

.optionsContainer > button {
    width: 100%;
    outline: none;

    background-color: white;

    height: 25px;
    padding: 16px 8px;

    display: flex;
    align-items: center;
    border: #e0e0e0 1px solid;
    border-radius: 8px;

    cursor: pointer;
    justify-content: space-between;
    transition: 200ms ease-in-out;
    color: #555555;
}

.optionsContainer > button:hover {
    color: #0095ff;

}

.fadeIn {
    animation: fadeIn ease-in-out 250ms forwards;
}

.fadeOutAnimation {
    position: relative;
    animation: fadeOut ease-in-out 150ms forwards;

}

@keyframes fadeOut {

    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }

}

.zoomContainer {
    position: fixed;
    bottom: 50px;
    right: 50px;
    height: 140px;

    display: grid;

    justify-items: center;
    align-content: space-between;
}

.zoomLevelContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #555555;
    padding: 5px;
    border-radius: 8px;
    border: #e0e0e0 1px solid;
}

.buttonContainer {
    outline: none;
    border: #ecedf2 1px solid;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    padding: 8px;

    height: 50px;
    width: 50px;
    border-radius: 8px;
    color: #555555;


    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.tree,
.tree ul,
.tree li {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.tree {
    text-align: center;
}

.tree,
.tree ul {
    display: table;
}

.tree ul {
    width: 100%;
}

.tree li {
    display: table-cell;
    padding: 31px 0;
    vertical-align: top;
}

.tree li:before {

    content: "";
    /*outline: #e0e0e0 solid 0.01em;*/
    background: #e0e0e0;
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.tree li:first-child:before {
    left: 50%;
}

.tree li:last-child:before {
    right: 50%;
}

.tree code,
.tree span {
    border: #e0e0e0 1px solid;
    border-radius: 8px;
    display: inline-block;
    margin: 0 16px 24px;

    position: relative;
    transition: 250ms ease-in-out;
}

.tree ul:before,
.tree code:before,
.tree span:before {

    content: "";
    background: #e0e0e0;
    width: 1px;
    height: 24px;
    left: 50%;
    position: absolute;
}

.tree ul:before {
    top: -24px;
}

.noOutline span:before{
    background: none;
}
.tree code:before,
.tree span:before {
    height: 31px;
    top: -31px;

}
.transformElement code:before,
.transformElement span:before{
    top: -49px;
}

.transformExtendedElement code:before,
.transformExtendedElement span:before{
    top: -32px;
    height: 32px;
    background: #e0e0e0;
    width: 1px;
}
.tree > li {
    margin-top: 0;
}

.tree > li:before,
.tree > li:after,
.tree > li > code:before,
.tree > li > span:before {
    outline: none;
}