/*TEXT FIELD*/

.visibilityContainer {
    margin-left: auto;
    cursor: pointer;
    color: #555555;
}

.visibilityContainer:hover {
    color: #0095ff
}

.fieldsContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    height: auto;

}

.inputContainer {
    border-radius: 5px;
    border: #ecedf2 1px solid;
    box-shadow: unset;
    transition: box-shadow 150ms linear, border 150ms linear, background 150ms linear;
    background: white;
    width: 100%;
    font-family: 'Roboto' !important;
    height: 56px;

    outline: none;
    padding: 5px;
    font-size: 1rem;

    color: #555555;
}

.inputContainer::-webkit-outer-spin-button,
.inputContainer::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.inputContainer[type=number] {
    -moz-appearance: textfield;
}

.labelContainer {
    transition: visibility 150ms linear, opacity 150ms linear;

    color: #666666;
    font-weight: bold;
    font-size: .8rem;
    margin-top: auto;
    user-select: none;
    font-family: Roboto;
    text-transform: capitalize;

    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 75%;
    overflow: hidden;

}

.alertLabel {
    font-family: Roboto;
    margin-left: auto;
    font-size: .75rem;
    user-select: none;

}

/*TEXT FIELD*/


/*IMAGE FIELD*/
.uploadFormContainer {
    border-radius: 5px;
    border: #ecedf2 1px solid;
    height: 56px;
    transition: 150ms linear;
    background: white;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 8px;
    outline: none;

    font-size: 1rem;
    color: #555555;

    cursor: pointer;

}

.uploadFormContainer:hover {
    background: #f4f5fa;
    color: #333333;
}

.uploadFormContainer:active {
    background: #E8F0FE;
    color: #0095ff;
}

/*.imageFieldContainer {*/

/*    height: 56px;*/

/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: space-between;*/

/*    padding: 4px;*/

/*    border: #ecedf2 1px solid;*/
/*    border-radius: 5px;*/
/*    background: white;*/

/*    overflow: hidden;*/

/*    transition: 150ms ease-in-out;*/
/*}*/

.textArea {
    border: #ecedf2 1px solid;

    font-size: 1rem;
    color: #555555;
    transition: 150ms ease-in-out;
    border-radius: 5px;
    padding: 2px;
    overflow-x: hidden;

}

.selectContainer:hover, .uploadFormContainer:hover, .inputContainer:hover, .textArea:hover {
    color: #262626;
    box-shadow: 0 0 2px 1px #0095ff;
    border: #0095ff 1px solid;
}

.textArea:focus, .uploadFormContainer:active, .textArea:focus-within, .inputContainer:focus, .inputContainer:focus-visible, .inputContainer:focus-within {
    color: #262626;
    box-shadow: 0 0 2px 1px #0095ff;
    border: #0095ff 1px solid;
    background: #E8F0FE;
}


.buttonContainer {
    outline: none;
    background: transparent;
    border: none;
    padding: 8px;
    color: #333333;
    display: flex;
    justify-content: flex-start;
    width: 100%;

}

.buttonContainer:hover {
    color: #0095ff
}


.hidden {
    display: none
}

.toolbarContainer {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    border: none;
    border-bottom: #e0e0e0 1px solid;
}

.maskStart {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
    color: #555555;
    font-family: Roboto;
    font-size: .95rem;
}

.modalContainer{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalContent {
    height: clamp(500px, 75%, 1000px);
    width: 1000px;
    align-content: flex-start;
    background: white;
    position: relative;

    border: #e0e0e0 1px solid;
    border-radius: 8px;

    padding: 16px;
}


.closeButton {
    position: absolute;
    z-index: 999;
    width: 40px;
    height: 40px;
    top: -20px;
    right: -20px;

    outline: none;
    cursor: pointer;
    border: none;
    background: white;
    border-radius: 50%;
    color: #555555;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 150ms linear;
}

.closeButton:hover {
    background: #ff5555;
    color: white;
}
