.header{
    color: var(--mfc-color-primary);
    font-size: 1.3rem;
    font-weight: 600;
    padding: 0 10%;
    background: var(--mfc-background-primary);
}

.contentWrapper{
    padding: 0 10%;
    width: 100%;
}


.button:disabled{
    cursor: unset;
    background: none;
    color: var(--mfc-color-secondary);
    text-decoration: none;
}


.typeLabel{
    color: var(--mfc-color-tertiary);
    font-size: .85rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
}