.tabsContainer {

    height: 60px;
    width: fit-content;

    margin: auto;

    border-bottom: #e0e0e0 1px solid;

    display: flex;
    align-items: flex-end;
    gap: 16px;
    justify-content: center;

    background: white;
    transition: 300ms ease-in-out;
}


.tabButtonContainer {
    cursor: pointer;

    font-family: 'Roboto' !important;
    outline: none;

    transition: 300ms ease-in-out;

    box-shadow: none;
    padding: 12px;
    text-align: center;

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    border: none;
    background: transparent;
}
.tabButtonContainer:hover{
    background: #E8F0FE;

}