.pageContentContainer{
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.pageContentContainer:first-child{
    height: auto;

}

.children_container{
    display: grid;
    justify-items: center;
    margin: auto;
}

.loadingContainer{

    width: clamp(500px, 75%, 1000px);
    height: 60px;
    border-radius: 12px;
    background: #57FF57;
    color: #3c4043;
    text-align: center;
    font-weight: 600;


}

.left{
    width: 18vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    display: grid;
    justify-content: center;
    align-content: space-evenly;

}

.tab_buttons_container{
    display: flex;
    align-items: center;
    height: fit-content;
}

.stepper_container{
    display: flex;
    align-items: center;
    height: fit-content;
    justify-content: space-between;
}