.activities_container{
    display: grid;
    gap: .9vw;
}
.infinite_scroll_container{
    width: 100%;
    display: grid;
    gap: .9vw;
    margin-bottom: 2vh;
}

.pageContainer{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 80vw;
    margin-left: auto;

}
.info_container{
    display: grid;
    gap: 2vh;
    width: 98%;
    margin: auto;
    height: 50vh;
    overflow-y: auto;
}
.info_row{
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    width: 75%;
}
