.container {
    height: 15px;
    padding: 16px;
    width: fit-content;
    border-radius: 5px;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: black;
    color: #f4f5fa;

    font-family: Roboto;
    font-size: .8rem;
    font-weight: bold;
    text-align: center;
    animation: fade 250ms ease-in-out;
    display: flex;
    align-items: center;
    transform: translateX(-50%);
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }

}