.HeaderLayout {
    display: grid;
    justify-items: center;
    align-content: space-between;
    margin: auto;
    height: auto;
    flex-direction: column;
    transition: all 300ms ease-in-out;

}

.collaborationContainer{
    position:relative;

}

.modalContentContainer{
    grid-row: 1;

    display: grid;
    justify-items: center;
    align-content: space-around;
}
.authenticateModalContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 500px;
    border-radius: 8px;
    display: grid;
    align-content: space-between;

    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 6px -1px, rgba(0,0,0,0.06) 0 2px 4px -1px;
    background-color: white;
}

.FilterModal {
    height: 100%;
    position: fixed;
    width: 20%;
    right: 0;
    border-radius: 8px 0 0 8px;
    padding: 15px;
    background-color: white;
}

.GraphInfo {
    position: absolute;
    z-index: 5;
    width: 100px;
    height: fit-content;
    margin-left: calc(100% + 16px);
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    border-radius: 8px;
    padding: 0 16px 0 16px;
    transition: opacity 300ms ease-in-out;
    text-align: center;
}
.alertContainer{
    padding: 16px;
    width: clamp(500px, 500px, 90%);

    position: fixed;
    bottom: clamp(16px, 5%, 5%);
    left: 50%;
    transform: translateX(-50%);
    z-index: 25;

    border-radius: 8px;

    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;

}

.alertContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}