.container {
    /*background: white;*/
    border-radius: 5px;

    padding: 16px 16px 0;
    display: grid;
    overflow-y: auto;
    /*box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;*/
    /*box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;*/
}

.headerContainer {
    position: sticky;
    top: 0;
    z-index: 999;
    /*background: white;*/
    transform: translateY(-16px);
    padding-top: 8px;
    padding-bottom: 12px;
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    /*border-bottom: #ecedf2 1px solid;*/
}

.buttonContainer {
    outline: none;
    box-shadow: none;
    background: transparent;
    border-radius: 8px;
    border: none;
    transition: 150ms ease-in-out;
    padding: 12px 8px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;

    cursor: pointer;
    color: #555555;
}

.buttonContainer:hover {
    background: white;
    color: #333333;
}
.buttonContainer:active {
    background: #E8F0FE;
    color: #0095ff;
}
.buttonContainer:disabled {
    background: white;
    color: #999999;
    cursor: unset;
}

.returnButton {
    border-bottom: none;
    padding: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    color: #333333;
    height: 40px;
    width: 40px;
}

.returnButton:hover {
    color: #ff5555;
    background: #f4f5fa;
}

.returnButton:active {
    color: #333333;
    background: #f4f5fa;
}

.optionsContainer {
    display: grid;
    gap: 4px;
    padding: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border-radius: 8px;
    position: absolute;
    z-index: 999;
    background: white;
    /*border: #0095ff 2px solid;*/
    top: 56px;
    right: 0px;
    animation: popIn 250ms ease;
}

@keyframes popIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.header {
    display: flex;
    gap: 16px;
    align-items: center;
    font-size: 1.3rem;
    color: #444444;
    font-weight: bold;
}