.chartContainer {
    position: relative;
    width: auto;
    height: auto;
    min-height: 100%;
    display: flex
}
.chartContent{
    transition: 150ms ease-in-out;
    width: fit-content;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    gap: 16px;
    align-items: flex-start;
}
.zoomContainer {
    position: fixed;
    bottom: 50px;
    right: 50px;
    height: 140px;

    display: grid;

    justify-items: center;
    align-content: space-between;
}

.zoomLevelContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #555555;
    padding: 5px;
    border-radius: 8px;
    border: #e0e0e0 1px solid;
}

.buttonContainer {
    outline: none;
    border: #e0e0e0 1px solid;

    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    padding: 8px;
    background: white;
    height: 50px;
    width: 50px;
    border-radius: 8px;
    color: #555555;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    transition: 150ms ease-in-out;
}

.buttonContainer:disabled {
    box-shadow: none;
    background: transparent;
    cursor: unset;
}
.zoomOutButton:hover{
    color: #ff5555;
    border: #ff5555 1px solid;
}
.zoomInButton:hover{
    color: #0095ff;
    border: #0095ff 1px solid;
}