.contentContainer {
    width: 65%;
    height: fit-content;
    border-radius: 8px;
    display: grid;
    gap: 16px;
    margin: auto;
    overflow-x: visible;

    position: relative;

    z-index: 0;
}

.fullWidth {
    width: 100%;

}


.nothingFoundContainer {
    width: 100%;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nothingFoundParagraph {
    color: #a6a6a9;
    text-align: center;
}


.secondaryHeaderStyle {
    color: #555555;
    margin-bottom: 0;
    margin-top: 0;
    transition: 300ms ease-in-out;
}

.headerStyle {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 5px;
    color: #262626;
    transition: 300ms ease-in-out;
}

.extensionModalContainer {
    background: white;
    border-radius: 8px;
    width: clamp(500px, 75%, 1000px);
    height: fit-content;

    display: grid;
    align-content: space-between;

    overflow: hidden;
    /*justify-content: space-between;*/
    /*align-items: center;*/
}


.overviewRowContainer {
    background-color: #f4f5fa;
    border-radius: 8px;
    border: #ecedf2 .7px solid;
    padding: 16px 32px 16px 32px;
    box-sizing: border-box;

    height: auto;

    display: grid;

    position: relative;
}

.overviewLineContainer {
    display: flex;
    align-items: center;
    gap: 8px;

    width: calc(50% - 8px);
}

.filterModalContainer {
    width: clamp(300px, 25%, 700px);
    background-color: white;
    height: 100vh;
    border-radius: 8px 0 0 8px;


    padding: 32px 32px 0 32px;

    display: grid;
    position: relative;

}

.modalFooterContainer {
    background-color: #f4f5fa;
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;

    display: grid;
    justify-content: flex-start;

    align-items: center;

    padding: 8px 32px 8px 32px;
}
.extensionsList {
    display: flex;
    column-gap: 16px;
    row-gap: 32px;
    flex-flow: row wrap;

}
@media(orientation: landscape) {

    .extensionButton {
        overflow: hidden;


        cursor: pointer;
        font-family: 'Roboto' !important;

        text-transform: none;
        border-radius: 8px;

        padding: 8px 8px 75px 8px;

        display: grid;
        justify-content: center;
        justify-items: center;
        align-content: space-between;

        width: calc(20% - 13px);
        height: 275px;

        background: #f4f5fa;
        border:  #ecedf2 1px solid;
        outline: none;

        transition: 300ms ease-in-out;
    }

    .extensionButton:hover {
        /*border-color: #0095ff;*/
        box-shadow: 0 0 4px 2px #0095ff;

    }
}
@media (max-width: 1350px) {

    .extensionButton {
        overflow: hidden;
        font-family: 'Roboto' !important;

        cursor: pointer;

        text-transform: none;
        border-radius: 8px;

        padding: 8px 8px 75px 8px;

        display: grid;
        justify-items: center;
        align-content: space-between;

        width: calc(33.333% - 10.666px);
        height: 275px;

        background: #f4f5fa;
        border:  #ecedf2 1px solid;
        outline: none;

        transition: 300ms ease-in-out;
    }

    .extensionButton:hover {

        box-shadow: 0 0 4px 2px #0095ff;

    }

}
@media (orientation:portrait) and (max-width: 1000px) {


    .extensionButton {
        overflow: hidden;


        cursor: pointer;

        text-transform: none;
        border-radius: 8px;

        padding: 8px 8px 75px 8px;

        display: grid;
        justify-items: center;
        align-content: space-between;

        width: calc(50% - 8px);
        height: 275px;

        background: #f4f5fa;
        border:  #ecedf2 1px solid;
        outline: none;

        transition: 300ms ease-in-out;
    }

    .extensionButton:hover {

        box-shadow: 0 0 4px 2px #0095ff;

    }

}