.contentContainer{
    width: 75%;
    height: fit-content;
    border-radius: 8px;
    display: grid;
    gap: 16px;
    margin: auto;
    overflow-x: visible;
}
.fullWidth{
    width: 100%;
    overflow-x: visible;
}
.extensionsList{
    display: grid;
    gap: 16px;
    overflow-x: visible;
}
.nothingFoundContainer{
    width: 100%;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nothingFoundParagraph{
    color: #a6a6a9;
    text-align: center;
}
.extensionButton{
    cursor: pointer;
    width: 100%;
    text-transform: none;
    border-radius: 8px;
    background-color: #f4f5fa;
    height: 80px;
    padding: 8px;
    transition: 300ms ease-in-out;

    display: flex;
    align-items: center;
}