/*TEXT FIELD*/

.visibilityContainer {
    margin-left: auto;
    cursor: pointer;
    color: #555555;
}

.visibilityContainer:hover {
    color: #0095ff
}

.fieldsContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 56px;

}

.inputContainer {
    border-radius: 5px;
    border: #eeeef1 1px solid;
    box-shadow: unset;
    transition: 250ms ease-in-out;
    background: #f4f5fa;
    width: 100%;

    height: 56px;

    outline: none;
    padding: 5px;
    font-size: 1rem;

    color: #555555;
}

.selectContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;


    box-shadow: unset;
    transition: 250ms ease-in-out;
    background: #f4f5fa;
    width: 100%;
    outline: none;
    padding: 5px;
    font-size: 1rem;
    color: #555555;
    cursor: pointer;
    height: 40px;
}

.dropDownContainer {
    display: grid;
    gap: 8px;
    height: auto;
}

.dropDownChoicesContainer {
    display: grid;

    background-color: #f4f5fa;
    border: #eeeef1 1px solid;
    border-radius: 5px;
    position: relative;
    z-index: 5;

    box-shadow: rgba(0, 0, 0, 0.05) 0 1px 2px 0;

    padding: 5px;

    max-height: 250px;
    overflow: auto;
}

.dropDownChoicesContainer > button {
    width: 100%;
}

.labelContainer {
    /*animation: slideUp ease-in-out 250ms both;*/
    transition: visibility 300ms ease-in-out;
    color: #262626;
    font-size: .9rem;
    margin-top: auto;
    overflow: hidden;
}

.alertLabel {
    margin-left: auto;
    font-weight: 550;
    font-size: .8rem;
}

@keyframes slideUp {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*TEXT FIELD*/

.inputContainer:hover, .inputContainer:focus, .inputContainer:focus-visible, .inputContainer:focus-within, .uploadFormContainer:hover {
    color: #262626;
    border: #0095ff 1px solid;
}

/*IMAGE FIELD*/
.uploadFormContainer {
    border-radius: 5px;
    border: #eeeef1 1px solid;

    transition: 250ms ease-in-out;
    background: white;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;

    font-size: 1rem;
    color: #555555;

}

.imageFieldContainer {

    height: 56px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 4px;

    border: #eeeef1 1px solid;
    border-radius: 8px;
    background: #f4f5fa;

    overflow: hidden;
}
