.children_container{
    z-index: 1;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    position: relative;
    min-height: 100vh;
    width: 83vw;
    margin-left: auto;
    overflow: auto;

}
.top{
    height: 7vh;
    top: 0;
    width: 100vw;
    position: fixed;
    z-index: 3;
    box-shadow: rgba(0, 0, 0, 0.05) 0 1px 2px 0;

    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
.left{
    width: 18vw;
    height: 100vh;


    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    display: grid;
    justify-content: center;
    align-content: space-evenly;

}
.reduced_right_container{
    width: 17vw;
    height: 66vh;
    position: fixed;
    left: 77vw;

    top: 30vh;
    z-index: 2;
    display: grid;
    justify-content: center;
    align-content: space-between;
}
.extended_right_container{
    width: 17vw;
    height: 80vh;
    position: fixed;
    left: 77vw;

    top: 16vh;
    z-index: 2;
    display: grid;
    justify-content: center;
    align-content: space-between;
}
.persona_container{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    text-transform: none;

    width: 62.333333vw;
    max-height: 11vh;
    margin-top: 1vh;
    border-radius: 8px;
    transition: 0.15s;
}

.persona_text_fields_container{
    display: grid;
    line-height: .0001vh;
    text-align: right;
}
.modal_container{
    margin: 12.5vh auto auto;
    width: 40vw;
    border-radius: 8px;
    height: 75vh;


}