.children_container{
    z-index: 1;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    position: relative;
    height: 100vh;
    width: 83%;
    margin-left: auto;
    overflow: hidden;
}

.left{
    width: 18vw;
    height: 100vh;


    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    display: grid;
    justify-content: center;
    align-content: space-evenly;

}
.persona_container{

    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    text-transform: none;

    width: 58vw;
    max-height: 11vh;
    margin-top: 1vh;
    border-radius: 8px;
    transition: 0.15s;
}
.persona_fields_container{
    display: flex;
    align-items: center;
}
.persona_text_fields_container{
    display: grid;
    line-height: .0001vh;
    text-align: right;
}
.modal_container{
    margin: 12.5vh auto auto;
    width: 40vw;
    border-radius: 8px;
    height: 75vh;


}