


.pageContainer {
    display: grid;
    width: 75%;
    grid-template-rows: 15% 85%;
    gap: 16px;
    margin: 32px auto auto;
}

.profileContainer {
    grid-row: 1;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;

    height: fit-content;
    position: sticky;

    padding: 8px 0;
    overflow: hidden;
}

.profileContentContainer {
    grid-row: 2;
    display: grid;
    align-items: flex-start;
    gap: 16px;
    position: relative;
    z-index: 2;
    margin-bottom: 16px;
}

.profileHeader {
    position: sticky;
    top: 32px;
    z-index: 5;
    background: white;
    display: grid;

    justify-items: center;
}