.form_container{
    display: grid;
    /*justify-content: center;*/
    align-content: space-around;

    margin: auto;
    height: 90%;
    width: 60%;
}
.profile_info_row{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
.title_container{
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: space-between;

    margin: 2vh auto;
    width: 50%;
}
.person_unity_field_container{
    display: grid;
    justify-items: center;
}
.simplified_profile_container{
    border-radius: 8px;
    width: 13vw;

    height: 6vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    transition: .3s;
}
.profile_modal_container{
    display: grid;
    width: 90%;
    align-content: space-evenly;
    margin: auto;
}
.simplified_profile_container:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}