.setting_row_container{
    margin: 2vh auto auto;
    width: 45vw;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.settings_container{
    display: grid;
    align-content: space-between;
    align-items: center;
    width: 45vw;
}