.button_container{
    border: transparent 2px solid;
    width: 14vw;
    height: fit-content;
    margin: auto auto 1vh;
}

.header_container{
    position: fixed;
    width: 45vw;
    z-index: 2;
    display: grid;
    justify-items: center;
}

.row{
    display: flex;
    justify-content: space-between;
    align-content: center;
}
