.subject_person_container{
    display: grid;
    justify-content: center;
    justify-items: center;
    width: 100px;
    align-content: space-between;
    height: fit-content;
}

.nav {
    margin: 20px auto;
    width: 455px;
    min-height: auto;
}

.nav ul {
    position: relative;
    padding-top: 35px;
}

.nav li {
    position: relative;
    padding: 35px 3px 0 3px;
    float: left;
    transition: 200ms ease-in-out;
    text-align: center;
    list-style-type: none;
}

.nav li::before, .nav li::after{
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    width: 50%;
    height: 35px;
    transition: 200ms ease-in-out;
    border-top: 1px solid #ccc;
}

.nav li::after{
    left: 50%;
    right: auto;
    transition: 200ms ease-in-out;
    border-left: 1px solid #ccc;
}

.nav li:only-child::after, .nav li:only-child::before {
    content: '';
    display: none;
}

.nav li:only-child{ padding-top: 0;}
.nav li:first-child::before, .nav li:last-child::after{
    border: 0 none;
}

.nav li:last-child::before{
    border-right: 1px solid #ccc;
    border-radius: 0 5px 0 0;
}

.nav li:first-child::after{
    border-radius: 5px 0 0 0;
}
.nav ul ul::before{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 1px solid #ccc;
    width: 0;
    height: 35px;

}

.nav li span{
    display: inline-block;
    /*padding: 5px 10px;*/

    cursor: pointer;
    border: #ecedf2 .7px solid;
    border-radius: 8px;
    background: #f4f5fa;

    /*border: 1px solid #ccc;*/

    transition: 200ms ease-in-out;
}

.nav li span:hover, .nav li a:hover+ul li a{


    border: 1px solid #0095ff;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 6px -1px, rgba(0,0,0,0.06) 0 2px 4px -1px;
}
.nav li span:hover+ul li::after,
.nav li span:hover+ul li::before,
.nav li span:hover+ul::before,
.nav li span:hover+ul ul::before{
    content: '';
    border-color: #0095ff;
}

/*.tree,*/
/*.tree ul,*/
/*.tree li {*/
/*    list-style: none;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    position: relative;*/
/*}*/

/*.tree {*/
/*    margin: 0 0 1em;*/
/*    text-align: center;*/
/*}*/

/*.tree,*/
/*.tree ul {*/
/*    display: table;*/
/*}*/

/*.tree ul {*/
/*    width: fit-content;*/
/*}*/

/*.tree li {*/
/*    display: table-cell;*/
/*    padding: .5em 0;*/
/*    vertical-align: top;*/
/*}*/

/*.tree li:before {*/
/*    outline: solid 1px #0095ff;*/
/*    content: "";*/
/*    left: 0;*/
/*    position: absolute;*/
/*    right: 0;*/
/*    top: 0;*/
/*}*/
/*.tree li:first-child:before {*/
/*    left: 50%;*/
/*}*/

/*.tree li:last-child:before {*/
/*    right: 50%;*/
/*}*/

/*.tree code,*/
/*.tree span {*/

/*    display: inline-flex;*/
/*    justify-content: space-between;*/
/*    margin: 0 1.2em 2vh;*/
/*    position: relative;*/
/*}*/

/*.tree ul:before,*/
/*.tree code:before,*/
/*.tree span:before {*/
/*    outline: solid 1px #0095ff;*/
/*    content: "";*/
/*    height: 2vh;*/
/*    left: 50%;*/
/*    position: absolute;*/
/*}*/

/*.tree ul:before {*/
/*    top: -2vh;*/
/*}*/

/*.tree code:before,*/
/*.tree span:before {*/
/*    height: .45rem;*/
/*    top: -.50em;*/
/*}*/

/*.tree > li {*/
/*    margin-top: 0;*/
/*}*/

/*.tree > li:before,*/
/*.tree > li:after,*/
/*.tree > li > code:before,*/
/*.tree > li > span:before {*/
/*    outline: none;*/
/*}*/


