.container {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    height: 35px;
    border-radius: 5px;

    overflow: hidden;
    width: 25%;
    margin: auto;
}

.button {
    padding: 4px 12px;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    outline: none;
    border: none;
    color: #666666;
    background: transparent;
    cursor: pointer;
    transition: 150ms linear;
    font-size: .75rem;
    font-family: Roboto;
    font-weight: bold;
}

.button:hover {
    color: #333333;
    background: #f4f5fa;
}

.button:active {
    color: #0095ff;
    background: #E8F0FE;
}

.button:disabled {
    color: #999999;
    background: transparent;
    cursor: unset;
}