.header{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 40;
    /*background: white;*/
}
.container{
    width: 100%;
    overflow-x: hidden;

    /*background: white;*/
    padding: 0 32px;
    border-radius: 5px;
    /*box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;*/

}

.rowContainer {
    font-family: Roboto;
    border: none;

    background: transparent;

    width: 100%;
    height: 56px;
    padding: 8px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    cursor: pointer;
    outline: none;

    transition: 150ms linear;
}
.rowContainer:disabled{
  background-color: white;
}

.rowContainer:hover {
    background-color: #f4f5fa ;
}


.fadeIn {
    position: relative;
    animation: fadeIn linear 150ms forwards;

}

.fadeOutAnimation {
    position: relative;
    animation: fadeOut linear 150ms forwards;

}
@keyframes fadeOut {

    0% {
        opacity: 1;
        height: inherit;
    }
    50% {
        opacity: .5;
        height: inherit;
    }
    90% {
        opacity: .1;
        height: inherit;
    }
    100% {
        opacity: 0;
        display: none;
        height: 0;
        z-index: -1;
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }

}


.headerContainer{
    display: flex;

    align-items: center;

    padding-top: 12px;
    padding-bottom: 12px;

}

.titleContainer{
    font-size: 1.2rem;
    font-weight: bold;
    font-family: Roboto;
    color: #444444;
    margin-right: auto;
    display: flex;
    gap: 8px;
    align-items: center;
}




.context{
    background: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    width: 250px;
    min-height: 40px;
    animation: popIn 250ms ease;
}
.exitAnimation{
    animation: popOut 250ms ease;
}
@keyframes popOut {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes popIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.contextButton{
    width: 100%;
    min-height: 40px;
    outline: none;
    background: transparent;
    transition: 150ms linear;
    border: none;
    font-family: Roboto;
    color: #575757;
    font-size: .9rem;
    cursor: pointer;

    display: flex;
    justify-items: flex-start;
    align-items: center;
    gap: 16px;
}
.contextButton:hover{
    background: #f4f5fa;
}
.contextButton:active{
    background: #E8F0FE;
    color: #0095ff;
}
.contextButton:disabled{
    background: transparent;
    color: #999999;
    cursor: unset;
}

.row{
    display: flex;
    gap: 16px;
    align-items: center;

    width: 100%;
    overflow: hidden;
}
.overflow{
    font-family: Roboto;
    font-size: .85rem;


    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}
.label{
    font-family: Roboto;
    font-size: .75rem;
    color: #555555;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    text-transform: capitalize;
    padding: 4px;
}
.divider{
    height: 20px;
    width: 1px;
    background: #e0e0e0;

}

.labelsContainer{
    display: flex;
    border-bottom: #ecedf2 1px solid;
}
.refreshButton{
outline: none;
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555555;
    cursor: pointer;
    transition: 150ms linear;
    border-radius: 5px;
}
.refreshButton:hover{
    background: #E8F0FE;
    color: #333333;

}
.refreshButton:active{
    background: #f4f5fa;
    color: #0095ff;

}

.createButton{
    outline: none;
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    color: #555555;
    cursor: pointer;
    transition: 150ms linear;
    border-radius: 5px;
    padding: 8px 12px;

}
.createButton:hover{
    background: white;
    color: #333333;

}
.createButton:active{
    background: #E8F0FE;
    color: #0095ff;

}

