.searchInput{
    outline: none;
    border: none;
    border-bottom: #ecedf2 1px solid;
    border-radius: 5px 5px 0 0;
    padding: 8px;
    box-shadow: none;
    background: white;
    transition: 250ms ease;
    color: #333333;
    font-family: 'Roboto' !important;
    height: 35px;
}
.searchInput:hover{
    border-bottom: #0095ff 1px solid;
}
.searchInput:focus, .searchInput:focus-within{
    border-bottom: #0095ff 1px solid;
    background: #E8F0FE;
}

.formContainer{
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 1px;
}

.buttonContainer{
    display: flex;
    align-items: center;
    justify-content: center;
        border: none;
    outline: none;
    border-radius: 50%;

    background: white;
    width: 35px;
    height: 35px;

    color: #555555;
    cursor: pointer;
    transition: 150ms linear;
}

.buttonContainer:hover{
    background: #f4f5fa;
}
.buttonContainer:active{
    color: #0095ff;
    background: #E8F0FE;
}

.buttonContainer:disabled{
    color: #999999;
    background: white;
    box-shadow: none;
    cursor: unset;
}