.overflowEllipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


.header {
    position: sticky;
    top: 0;
    z-index: 75;
    overflow: visible;
    height: 45px;
    width: 100%;
    justify-items: center;

    transition: 250ms ease-in-out;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    display: flex;
    justify-content: space-between;
    background: white;

    padding: 4px;
}

.appsButtonContainer {
    height: 100%;
    width: auto;

    display: flex;
    align-items: center;
    gap: 8px;

    outline: none;
    box-shadow: none;
    background-color: transparent;
    border-radius: 8px;
    border: none;
    color: #555555;
    padding: 12px;
    cursor: pointer;
    transition: 300ms ease;
    font-family: 'Roboto' !important;
}

.navigationContainer > div {
    width: 100%;
}


.logoContainer {
    color: white;
    display: flex;
    font-size: .9rem;
    gap: 16px;
    align-items: center;
    height: 100%;
}


.buttonContainer {
    height: 100%;

    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;
    outline: none;
    box-shadow: none;
    background-color: transparent;
    border-radius: 5px;
    border: none;
    color: #666666;
    padding: 4px;
    cursor: pointer;
    transition: 150ms linear;

}

.buttonContainer:hover, .appsButtonContainer:hover {
    background: #f4f5fa;

}

.appsContainer {
    position: relative;
    height: 100%;

}

.floatingBox {
    position: absolute;
    height: auto;
    width: 250px;
    border: #ecedf2 2px solid;
    background: white;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;


    display: inline-flex;

    flex-flow: row;
    flex-wrap: wrap;

    gap: 16px;
    padding: 8px;
}



.modalButtonsContainer {
    width: 100%;
    display: grid;
    align-content: flex-start;
    padding: 4px;
    gap: 4px;
}

.navigationTabsContainer {
    overflow: hidden;
    width: 45px;
    transition: 150ms linear;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0 0 0 1px;
    position: sticky;
    left: 0;
    height: 100%;

}

.wrapper{
    display: block;
    height: 100vh;
    overflow: hidden;
    width: 100%;
    background-color: #f4f5fa;
}
.contentWrapper{
    display: flex;
    width: 100%;
    height: 100%;
}
.buttonLabel{
    margin-left: 8px;
    font-size: .85rem;
    overflow: hidden;
    color: #666666;
    font-weight: bold;
    font-family: Roboto;
}