.modalContainer{
    display: grid;
    gap: 10px;
    width: 600px;
    height: 75%;

    padding: 16px;
    border-radius: 8px;
    grid-template-rows: 25% 1fr;
}
.modalFormContainer{
    grid-row: 1;

    display: grid;
    justify-items: center;
    align-content: space-around;
}
.overviewContainer{
    border-radius: 8px;
    border: #e2e2e2 1px solid;
    padding: 10px;
    display: grid;
    justify-items: center;
    align-content: space-between;
    justify-content: center;
    height: auto;
    width: 23.6%;
}