.modalContainer{
    display: grid;
    gap: 10px;
    width: 600px;
    height: 75%;

    padding: 16px;
    border-radius: 8px;
    grid-template-rows: 25% 1fr;
}
.modalFormContainer{
    grid-row: 1;

    display: grid;
    justify-items: center;
    align-content: space-around;
}
.overviewContainer{
    color: black;
    display: flex;
    justify-content: space-between;

    align-items: center;
    width: calc(25% - 12px);
    height: auto;
    padding: 10px;
    border: hsla(210, 11%, 78%, 0.5)  .7px solid;
    box-shadow: rgba(0, 0, 0, 0.05) 0 1px 2px 0;
    border-radius: 8px;
    opacity: 0;
}