
.title_container{
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: space-between;

    margin: 2vh auto;
    width: 50%;
}

.content_container{
    display: grid;
    gap: 2vh;
}

.simplified_profile_container{
    border-radius: 8px;
    width: 13vw;

    height: 6vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    border: transparent 2px solid;

    transition: .3s;
}
.simplified_profile_container:hover{
    border: #39adf6 2px solid;
}